{% extends '/hotel/components/header.html' %} {% block controller%}hotelController{% endblock %} {% block
    content%}
        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">About | The Travel Square </h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    
                    <li class="active">About The Company</li>
                </ul>
            </div>
        </div>

        <section id="content">
            <div class="container">
                <div id="main">
                    <div class="tab-container style1 travelo-policies">
                        <ul class="tabs full-width">
                            <li class="active"><a data-toggle="tab" href="#about">About The Company</a></li>
                            <li><a data-toggle="tab" href="#history">History</a></li>
                            <li><a data-toggle="tab" href="#vision">Vision & Aim</a></li>
                            <li><a data-toggle="tab" href="#corporates">Corporates</a></li>
                            <li><a data-toggle="tab" href="#team">The Team</a></li>
                            <li><a data-toggle="tab" href="#investors">Investors</a></li>
                            <li><a data-toggle="tab" href="#partners">Partners</a></li>
                        </ul>
                        <div class="tab-content">
						
                            <div id="about" class="tab-pane fade in active">
                                
                                <div class="policy"><center><img src="images/the-travel-square-logo.png">	</center>
                                    <br><br><h2>The Travel Square | About </h2>
									
                                    <p>The Travel Square is a Metasearch Engine Technology , Developed To Compare Prices for all Categories and Products of Traveling 
									at a One Stop Place so as to Bring the Entire Global Travel Market at One Binded Platform . It is the Indian Origin Technology Giant 
									in the Field of Travel Which Aims to Build Better Traveling Products , Transparent and Fair Market Products Inclusive of Ideal Customers , 
									Vendors , Associates and Creating Jobs for Affiliate , Connecting the Properties and Travel Business at One Hand . The Company Since June 
									2014 is Owned and Operated by the <a href="https://goodvibestravelventurepvtltd.business.site/"><span class="skin-color">Good Vibes Travel Venture Pvt. Ltd. </span></a> with its
									Headquarters in Delhi and Corporate Offices Established in Bangalore , Indore , Greater Noida , Noida .	
									</p>
                                </div>
                                <hr>
                                <div class="policy">
								<center><img src="images/images/the-travel-square-Ideology.jpg"></center>
                                    <h2>Ideology </h2>
                                    <p>The Travel Square Invests in Travel Technology With a Mission To Connect the Traveling World and Market at One Single 
									   Platform to Ensure Better Travelling Experience to Travellers Worldwide .With it's Every Product Distinguishing 
									   Itself to a Better Technology in Field of Travelling and Aiming to Create Milestones With Uniqueness in them .
									   Moreover The Travel Square Ensures Best User Experience for Our Customers Online by Fullfilling the Complete Requirements 
									   Fromt the Customers end .The Basic Goals The Travel Square Follows :
									   
										</p>
                                    <ul class="lower-latin bullet-colored box">
                                        <li><span>Ensuring Uniqie Technologies in The Travel Market</span></li>
                                        <li><span>Customising Products as Per Customer Requirements</span></li>
                                        <li><span>Aiming to Reviel Customer With Best Suitable Prices </span></li>
                                        <li><span>Making Travel Market More Competetive By Opening Doors to Local Travel Agencies </span></li>
                                        <li><span>Building Platforms For Customers , Vendors & Affiliates </span></li>
                                        <li><span>Creating Employment and Equalising The Society</span></li>
                                    </ul>
									<center><img src="images/images/the-travel-square-Culture-And-Value-Handshakes-About-Travel-Beans.png"></center>
									<h2>Culture & Values</h2>
                                    <p>The Travel Square is an Indian Company and Follows The Ethos Related to the Traditionally Rich Nation. The Travel Square Belives in the Cosntitution of the Country
										and is Keen to Serve Under it at All Costs. Further The Travel Square Belives in Green-Economical Growth , Native Approach Promoting Vast Heritage
										and Tradition of India . All Are Belives are in Favour of Humanity and Mankind .</p>
                                </div>
                                <div class="policy">
								
									<center><img src="images/images/the-travel-square-Technology.png"></center>
                                    <h2>The Technology </h2>
                                    <p> At The Travel Square We Believe to Deliver a Technology Based on </p>
                                    <ul class="circle bullet-yellow row">
                                        <li class="col-sm-6">
                                            <h5 class="inline-block">Product Technologies </h5>
                                            <p>We Belive in The Technology That We Develop , We Also Belive in Sharing and Open Sourcing the Relevent Information and Making The World Learn 
											More . The Technology We Develop is Dedicated to the Company and its Patent Rights are Hold By the Corporation. We Believe to Explore and Solve 
											Day to Day Travel Problems Using the Technical Solutions We Can Produce in the Market .</p>
                                        </li>
                                        <li class="col-sm-6">
                                            <h5 class="inline-block">Marketing Technologies</h5>
                                            <p>The Travel Square , Does the Marketing it Own Way , We Use Technology as the Basic Tool to Market all Our Valuable Products and Services .
											Our Approach is Targeted and Realistic Which Provides Us Outcomes as Perfect Leads For Our Business.</p>
                                        </li>
                                    </ul>
                                </div>
                                <hr>
									<center><img src="images/images/the-travel-square-Innovation.png"></center>
								<div class="policy">
                                    <h2>Innovation - The Game Changer </h2>
                                    <p><span>Explore , Solve & Evolve is The Mantra The Travel Square Follows Too .</span></p>
                                    <p>The Travel Square's Idea & Implementation Strategy is Unique and Innovative Both at Same time. We Belive to Bring a Setback and Distruptive Change in the
									Travel Market By 2020 . The Idea of Innovation is a Deep Level of Customisation for Customer and Making the The Customer More Liberalise and Independent While Travelling .
									</p>
                                </div>
                                <hr>
									<center><img src="images/images/the-travel-square-Marketing.png"></center>
                                <div class="policy">
                                    <h2>Marketing </h2>
                                    <p><span>Simplicity at it's Best is The Marketing Fundamental The Travel Square is Inspired With .</span></p>
                                    <p>Our Marketing Technology and Strategical Believe is to Empower on Branding the Ideology of The Travel Square .
									Thinking of Long Term Success With Small Steps in the Right Direction With Steady Growth is What We Focus on .
									Our Internal Analytical Technologies and Media Tools , Help The Travel Square to Maintain a Targeted and Holistic 
									Approach Which is Reflected in Our User Experience and Engagement .With Clarity Towards Our Ideology The Travel Square 
									Ensures the Wellness of it's Partners , Vendors , Associates , Affiliates and Users Making the Agenda of Growing 
									Hand in Hand Loud and Clear . Together We Develop , Together We Rise is the Strategy .
									</p>
                                </div>

                            </div>
							
                            <div id="history" class="tab-pane fade">
                                <div class="policy">
								<center><img src="images/images/History-the-travel-square-Lifespan.png" height="450" width="1080"></center><br><br>
                                    <h2>Lifespan | The Travel Square </h2>
                                    <p>	
									</p>
                                </div>
                                <hr>
                                <div class="policy">
								<center><img src="images/images/When-It-Got-Started-the-travel-square.png"></center>
                                    <h2>Where it Got Started ? </h2>
                                    <p>The Travel Square Got Started With an Idea of Bringing More Clarity to The Traveling Business and Making it More Competetive 
									Market Place . Till Now the Technology of Camparision of Hotel Sites, Bikes and Cars Has Largely Taken Over the Current 
									Travelling Sites . It Was an Idea That Sparked The Founders and His Team and Motivated Them To Bring Out Something New in This
									Field, and That Output was The Travel Square . The Travel Square Was Founded in December 2017 and Got Registered For the First Time in 
									Delhi , India in Dec 2018 After the Popularity of Its First Released Model #TB Hotel .
									   
										</p>
                                    <ul class="lower-latin bullet-colored box">
                                        <li><span>Ensuring Uniqie Technologies in The Travel Market</span></li>
                                        <li><span>Customising Products as Per Customer Requirements</span></li>
                                        <li><span>Aiming to Reviel Customer With Best Suitable Prices </span></li>
                                        <li><span>Making Travel Market More Competetive By Opening Doors to Local Travel Agencies </span></li>
                                        <li><span>Building Platforms For Customers , Vendors & Affiliates </span></li>
                                        <li><span>Creating Employment and Equalising The Society</span></li>
                                    </ul>
								</div>
									
								
                                
                            </div>
                            <div id="vision" class="tab-pane fade">
                                <div class="policy">
								<center><img src="images/images/the-travel-square-Aim-And-Mission.png"></center><br>
                                    <h2>Vision & Aim | The Travel Square </h2>
                                    <p>The Travel Square is on a Clear Mission to Set a Change in Travel Industry , Making it More Affordable and Convinient for
									Travellers to Have Better Access of Places They are Goint to Visit With Cheapest and Best Budget Plans .
									We are Summoned to Deliver , Travel Products Which Will Help the Customers , To Have More Clarity Upon the Place They
									are to Visit . The Main Focus is to Create a More Competetive Market and Bring More Clarity to the Customers .
									Making the The Travel Square Vision More Clear - "TO BRING TRAVEL INDUSTRY AT ONE STOP MARKET PLACE" .	
									</p>
                                </div>
                            </div>
                            <div id="corporates" class="tab-pane fade">
                                <div class="policy">
                                    <h2>Corporate Offices | The Travel Square </h2><br>
                                    
								<center><h2>Headquarters | Tech Center | Greater Noida</h2>
                                    <p>Gate Number -3 , Plot Number 2 , Knowledge Park - 2 , Greater Noida <a href=""><span class="skin-color"></span></a> <br><br>
								<img src="images/images/Coporate-Offices-The-Travel-Square-Greater-Noida.png"><br>
								</center><br>
								
								<center><h2>Registered Office | East Delhi</h2>
                                    <p>1/10598 Naveen Shahdara , Mohan Park , East Delhi , Pin - 110032 <a href=""><span class="skin-color"></span></a> <br><br>
								<img src="images/images/Coporate-Offices-New-Delhi-Naveen-Shahdara-The-Travel-Square.png"><br>
								</center><br>
								
								<center><h2>Innovation Center | Ghaziabad</h2>
                                    <p>B-200 Surya Nagar , Ghaziabad <a href=""><span class="skin-color"></span></a> <br><br>
								<img src="images/images/Coporate-Offices-Greater-Noida-the-travel-square.png"><br>
								</center><br>
								
								<center><h2>Corporate Center | Gurgaon</h2>
                                    <p>C-182 Vivek Vihar , Phase - 1 , East Delhi , Pin - 110095 <a href=""><span class="skin-color"></span></a> <br><br>
								<img src="images/images/Coporate-Offices-Gurgaon-the-travel-square.png"><br>
								</center><br>
								
								
								
								
									
									</p>
                                </div>
                                <hr>
                            </div>
                            <div id="team" class="tab-pane fade">
                                <div class="block">
                    <h2>The Travel Square | Team</h2>
                    <div class="row image-box style1 team">
					<h2>The Top Management</h2><br>
                        <div class="col-sm-6 col-md-3">
                            <article class="box">
                                <figure>
                                    <a href="#"><img src="images/images/vibhu-gupta-director-founder-the-travel-square.jpg" alt="" width="270" height="263" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title"><a href="#">Vibhu Gupta<small>Director , Founder</small></a></h4>
                                    <p class="description">The Former Shoppist Innovations Chief Advisor , CSE B-Tech & LLB Graduate .</p>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <article class="box">
                                <figure>
                                    <a href="#"><img src="images/images/prashant-sharma-co-founder-cheif-finance-office-the-travel-square.jpg" alt="" width="270" height="263" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title"><a href="#">Prashant Sharma<small>Co-Founder , CFO</small></a></h4>
                                    <p class="description">Delhi Technical University Graduate , Investor & Co-Founder of The Travel Square</p>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
						<div class="col-sm-6 col-md-3">
                            <article class="box">
                                <figure>
                                    <a href="#"><img src="images/images/Rajdeep-Deb-Mentor-the-travel-square.jpg" alt="" width="270" height="263" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title"><a href="#">Dr. Rajdeep Deb<small>Mentor, CLO</small></a></h4>
                                    <p class="description">Proffesor , Education Technology Integrator, A Startup Curator & MarCom Specialist .</p>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <article class="box">
                                <figure>
                                    <a href="#"><img src="images/images/Rohit-Kumar-the-trave-square-Advisor-CSO.jpg" alt="" width="270" height="263" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title"><a href="#">Rohit Kumar<small>Advisor , CSO</small></a></h4>
                                    <p class="description">MD Frantic Infotech , Entrprenuer in the Field of Food Services & Media Tech </p>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        
                    </div>
					<div class="row image-box style1 team">
						<div class="col-sm-6 col-md-3">
                            <article class="box">
                                <figure>
                                    <a href="#"><img src="images/images/Ishan-Waghraje-the-travel-square-Chief-Operating-Officer-Travel-Sqaure.jpeg" alt="" width="270" height="263" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title"><a href="#">Ishan Waghraje<small>Chief Operating Officer</small></a></h4>
                                    <p class="description">The Former Shoppist Innovations RM & CSE B-Tech Graduate.</p>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <article class="box">
                                <figure>
                                    <a href="#"><img src="images/images/aditya-sharma-chief-technical-officers-the-travel-square.jpg" alt="" width="270" height="263" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title"><a href="#">Aditya Sharma<small>Chief Technical Officer</small></a></h4>
                                    <p class="description">CSE B-Tech Graduate , Technical Core Developer & Skilled AWS Developer</p>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        
						<div class="col-sm-6 col-md-3">
                            <article class="box">
                                <figure>
                                    <a href="#"><img src="images/images/Akshay-Bhati-the-travel-square-Lead-Technical-Developer.jpg" alt="" width="270" height="263" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title"><a href="#">Akshay Tyagi<small>Technical Head</small></a></h4>
                                    <p class="description">Core Technical Developer , Skilled With Multiple Coding Language</p>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <article class="box">
                                <figure>
                                    <a href="#"><img src="images/images/Priyanka-Goel-Technical-Frontend-Developer-the-travel-square.jpg" alt="" width="270" height="263" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title"><a href="#">Priyanka Goel<small>Technical Head</small></a></h4>
                                    <p class="description">CSE B-Tech Graduate , Front End Core Developer & GUI Analyst</p>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        
                    </div>
					<div class="row image-box style1 team">
						<div class="col-sm-6 col-md-3">
                            <article class="box">
                                <figure>
                                    <a href="#"><img src="images/images/Adnan-Siddique-the-travel-square.JPG" alt="" width="270" height="263" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title"><a href="#">Adnan Siddique<small>Chief Operating Officer</small></a></h4>
                                    <p class="description">The Former Shoppist Innovations RM & CSE B-Tech Graduate.</p>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <article class="box">
                                <figure>
                                    <a href="#"><img src="images/images/Abhishek-Sharma-The-Travel-Square.jpg" alt="" width="270" height="263" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title"><a href="#">Abhishek Sharma<small>Chief Technical Officer</small></a></h4>
                                    <p class="description">CSE B-Tech Graduate , Technical Core Developer & Skilled AWS Developer</p>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
						
                        
						<div class="col-sm-6 col-md-3">
                            <article class="box">
                                <figure>
                                    <a href="#"><img src="images/images/Pradeep-Kumar-the-travel-square-Cruising-India-MD.jpg" alt="" width="270" height="263" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title"><a href="#">Pradeep Kumar<small>Technical Head</small></a></h4>
                                    <p class="description">Core Technical Developer , Skilled With Multiple Coding Language</p>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <article class="box">
                                <figure>
                                    <a href="#"><img src="images/images/Harshit-Maheshwari-the-travel-square.jpg" alt="" width="270" height="263" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title"><a href="#">Harshit Maheshwari<small>Technical Head</small></a></h4>
                                    <p class="description">CSE B-Tech Graduate , Front End Core Developer & GUI Analyst</p>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        
                    </div>
					
					<div class="row image-box style1 team">
						<div class="col-sm-6 col-md-3">
                            <article class="box">
                                <figure>
                                    <a href="#"><img src="images/images/Himansh-Dixit-Data-Manager-the-travel-square.jpeg" alt="" width="270" height="263" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title"><a href="#">Himansh Dixit<small>Chief Operating Officer</small></a></h4>
                                    <p class="description">The Former Shoppist Innovations RM & CSE B-Tech Graduate.</p>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <article class="box">
                                <figure>
                                    <a href="#"><img src="images/images/Shivani-Rastogi-Creative-Technical-Head-Developer-the-travel-square.jpg" alt="" width="270" height="263" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title"><a href="#">Shivani Rastogi<small>Chief Technical Officer</small></a></h4>
                                    <p class="description">CSE B-Tech Graduate , Technical Core Developer & Skilled AWS Developer</p>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        
						<div class="col-sm-6 col-md-3">
                            <article class="box">
                                <figure>
                                    <a href="#"><img src="images/images/Azhar-Mansoori-Data-Managing-Officer-the-travel-square.jpg" alt="" width="270" height="263" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title"><a href="#">Azhar Mansoori<small>Technical Head</small></a></h4>
                                    <p class="description">Core Technical Developer , Skilled With Multiple Coding Language</p>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        
                        
                    </div>
					
                </div>
                

                            </div>
                            <div id="investors" class="tab-pane fade">
                                
                            </div>
                            <div id="partners" class="tab-pane fade">
                                <div class="row image-box style1 team">
                                    <div class="row">
                                    <div class="col-sm-6 col-md-3">
                                        <article class="box">
                                            <figure>
                                                <a href="https://www.countryholidaysinnsuites.com/" target="_blank"><img src="images/images/The-Travel-Square-Partners-With-Country-Holiday-Inn-and-Suites-CHIS.png" alt="" width="270" height="263" /></a>
                                            </figure>
                                            <div class="details">
                                                <h4 class="box-title"><a href="#">Country Holiday Inn & Suites<small>Luxury Accomodation Partner</small></a></h4>
                                                <p class="description">Delhi Technical University Graduate and Co-Founder of The Travel Square</p>
                                                
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <article class="box">
                                            <figure>
                                                <a href="http://www.clubmahindra.com/" target="_blank"><img src="images/images/The-Travel-Square-Partners-With-Club-Mahindra.png" alt="" width="270" height="263" /></a>
                                            </figure>
                                            <div class="details">
                                                <h4 class="box-title"><a href="#">Club Mahindra<small>Family Travel Partner</small></a></h4>
                                                <p class="description">Head of Technical Operation and Core Developer at The Travel Square</p>
                                                
                                            </div>
                                        </article>
                                    </div>
                                    
                                    <div class="col-sm-6 col-md-3">
                                        <article class="box">
                                            <figure>
                                                <a href="https://www.goibibo.com/" target="_blank"><img src="images/images/The-Travel-Square-Partners-With-Go-Ibibo-Go-Stays.jpg" alt="" width="270" height="263" /></a>
                                            </figure>
                                            <div class="details">
                                                <h4 class="box-title"><a href="#">IBIBO<small>OTA Partner</small></a></h4>
                                                <p class="description">Head of Technical Operation and Core Developer at The Travel Square</p>
                                                
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <article class="box">
                                            <figure>
                                                <a href="https://www.oyorooms.com/" target="_blank"><img src="images/images/The-Travel-Square-Partners-With-OYO.png" alt="" width="270" height="263" /></a>
                                            </figure>
                                            <div class="details">
                                                <h4 class="box-title"><a href="#">OYO<small>Budget Accomodation Partner</small></a></h4>
                                                <p class="description">World's Largest Growing Chain of Hotels .</p>
                                                
                                            </div>
                                        </article>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-sm-6 col-md-3">
                                        <article class="box">
                                            <figure>
                                                <a href="http://theleelambienceconventionhotel.in/" target="_blank"><img src="images/images/The-Travel-Square-Partners-With-The-Leela-Palaces-Hotels-and-Resorts.jpg" alt="" width="270" height="263" /></a>
                                            </figure>
                                            <div class="details">
                                                <h4 class="box-title"><a href="#">The Leela Ambience Convention<small>Premium Host</small></a></h4>
                                                <p class="description">Head of Technical Operation and Core Developer at The Travel Square</p>
                                                
                                            </div>
                                        </article>
                                    </div>
                                    
                                    <div class="col-sm-6 col-md-3">
                                        <article class="box">
                                            <figure>
                                                <a href="https://traveltriangle.com/" target="_blank"><img src="images/images/The-Travel-Square-Partners-With-Travel-Triangle.png" alt="" width="270" height="263" /></a>
                                            </figure>
                                            <div class="details">
                                                <h4 class="box-title"><a href="#">Travel Triangle<small>Tour Partners</small></a></h4>
                                                <p class="description">Head of Technical Operation and Core Developer at The Travel Square</p>
                                                
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <article class="box">
                                            <figure>
                                                <a href="https://www.travclan.com/" target="_blank"><img src="images/images/The-Travel-Square-Trav-Clan.png" alt="" width="270" height="263" /></a>
                                            </figure>
                                            <div class="details">
                                                <h4 class="box-title"><a href="#">Trav Clan<small>B2B Partners</small></a></h4>
                                                <p class="description">Head of Technical Operation and Core Developer at The Travel Square</p>
                                                
                                            </div>
                                        </article>
                                    </div>
                                    </div>
                                    
                                </div>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
        
        {% include '/hotel/components/footer.html' %}

    </div>
    


    <!-- Javascript -->
    <script type="text/javascript" src="css/about-travel-beans_files/jquery-1.11.1.min.js.download"></script>
    <script type="text/javascript" src="css/about-travel-beans_files/jquery.noconflict.js.download"></script>
    <script type="text/javascript" src="css/about-travel-beans_files/modernizr.2.7.1.min.js.download"></script>
    <script type="text/javascript" src="css/about-travel-beans_files/jquery-migrate-1.2.1.min.js.download"></script>
    <script type="text/javascript" src="css/about-travel-beans_files/jquery.placeholder.js.download"></script>
    <script type="text/javascript" src="css/about-travel-beans_files/jquery-ui.1.10.4.min.js.download"></script>
    
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="css/about-travel-beans_files/bootstrap.js.download"></script>
    
    <!-- parallax -->
    <script type="text/javascript" src="css/about-travel-beans_files/jquery.stellar.min.js.download"></script>
    
    <!-- waypoint -->
    <script type="text/javascript" src="css/about-travel-beans_files/waypoints.min.js.download"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="css/about-travel-beans_files/theme-scripts.js.download"></script>
    <script type="text/javascript" src="css/about-travel-beans_files/scripts.js.download"></script>
    



</body></html>

{% endblock %}