{% extends '/hotel/components/header.html' %} {% block controller%}hotelController{% endblock %} {% block
    content%}

        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Customer Care | The Travel Square</h2>
                </div>
               
            </div>
        </div>

        <section id="content">
            <div class="container">
                <div id="main">
                   
					
					
					
                    <div class="travelo-google-map block"><img src="images/Travel-Beans-Office-Gate-2-Plot-No-3-Inside-Skyline-College-E-Cell-Greater-Noida.png" Height=""></div>
                    <div class="contact-address row block">
                        <div class="col-md-4">
                            <div class="icon-box style5">
                                <i class="soap-icon-phone"></i>
                                <div class="description">
                                    <small>We are on 24/7</small>
                                    <h5>Local: +91-7428558566</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="icon-box style5">
                                <i class="soap-icon-message"></i>
                                <div class="description">
                                    <small>Send us email on</small>
                                    <h5>customercare@thetravelsquare.in</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="icon-box style5">
                                <i class="soap-icon-address"></i>
                                <div class="description">
                                    <small>Meet Us At</small>
                                    <h5>Gate-2 Plot No. 3 , Knowledge Park - II Greater Noida , UP-201306</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                   
					
					<div class="row">
                        <div class="col-sm-4 col-md-3">
                            <div class="travelo-box contact-us-box">
                                <h4>Contact The Travel Square</h4>
                                <ul class="contact-address">
                                    <li class="address">
                                        <i class="soap-icon-address circle"></i>
                                        <h5 class="title">Office Meeting Hours</h5>
                                        <p>MON - FRI</p>
                                        <p>11:00 AM - 4:00 PM</p>
                                    </li>
                                    <li class="phone">
                                        <i class="soap-icon-phone circle"></i>
                                        <h5 class="title">Whatsapp</h5>
                                        <p>Mobile: +91-7428558566</p>
                                    </li>
                                    <li class="email">
                                        <i class="soap-icon-message circle"></i>
                                        <h5 class="title">Website</h5>
                                        <p>www.thetravelsquare.in</p>
                                    </li>
                                </ul>
                                <ul class="social-icons full-width">
                                    
								 <li class="twitter"><a title="Join Us on Twitter" href="https://twitter.com/travelsquare_" data-toggle="tooltip"  Target="_blank" data-original-title="twitter"><i class="soap-icon-twitter"></i></a></li>
                                <li class="facebook"><a title="Join Us on Facebook" href="https://www.facebook.com/thetravelsquare/" Target="_blank" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-facebook"></i></a></li>
                                <li class="linkedin"><a title="Join Us on Linked In" href="https://www.linkedin.com/company/thetravelsquare" Target="_blank" data-toggle="tooltip" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                <li class="vimeo"><a title="Join Us on Instagram" href="https://www.instagram.com/The_Travel_Square/" data-toggle="tooltip" Target="_blank" data-original-title="vimeo"><i class="soap-icon-instagram"></i></a></li>
                                <li class="dribble"><a title="Join Us on Youtube" href="https://www.youtube.com/channel/UChlFqPqGQXw06M8ZUn4NsrQ" Target="_blank" data-toggle="tooltip" data-original-title="dribble"><i class="soap-icon-youtube"></i></a></li>
 
								</ul>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-9">
                            <div class="travelo-box">
                                <form class="contact-form" action="http://www.soaptheme.net/html/travelo/contact-us-handler.php" method="post">
                                    <h4 class="box-title">Send Us Your Query ! Our Team Will Get in Touch With You .</h4>
                                    <div class="row form-group">
                                        <div class="col-xs-6">
                                            <label>Your Name</label>
                                            <input type="text" name="name" class="input-text full-width">
                                        </div>
                                        <div class="col-xs-6">
                                            <label>Your Email</label>
                                            <input type="text" name="email" class="input-text full-width">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Your Message</label>
                                        <textarea name="message" rows="6" class="input-text full-width" placeholder="write message here"></textarea>
                                    </div>
                                    <button type="submit" class="btn-large full-width">SEND MESSAGE</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        
        {% include '/hotel/components/footer.html' %}

    </div>
   


    <!-- Javascript -->
    <script type="text/javascript" src="./Contact Travel Beans_files/jquery-1.11.1.min.js.download"></script>
    <script type="text/javascript" src="./Contact Travel Beans_files/jquery.noconflict.js.download"></script>
    <script type="text/javascript" src="./Contact Travel Beans_files/modernizr.2.7.1.min.js.download"></script>
    <script type="text/javascript" src="./Contact Travel Beans_files/jquery-migrate-1.2.1.min.js.download"></script>
    <script type="text/javascript" src="./Contact Travel Beans_files/jquery.placeholder.js.download"></script>
    <script type="text/javascript" src="./Contact Travel Beans_files/jquery-ui.1.10.4.min.js.download"></script>
    
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="./Contact Travel Beans_files/bootstrap.js.download"></script>

    <!-- Google Map Api -->
    <script type="text/javascript" src="./Contact Travel Beans_files/js"></script>
    <script type="text/javascript" src="./Contact Travel Beans_files/gmap3.min.js.download"></script>
    
    <!-- parallax -->
    <script type="text/javascript" src="./Contact Travel Beans_files/jquery.stellar.min.js.download"></script>
    
    <!-- waypoint -->
    <script type="text/javascript" src="./Contact Travel Beans_files/waypoints.min.js.download"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="./Contact Travel Beans_files/theme-scripts.js.download"></script>
    <script type="text/javascript" src="./Contact Travel Beans_files/scripts.js.download"></script>

    <script type="text/javascript">
        tjq(".travelo-google-map").gmap3({
            map: {
                options: {
                    center: [48.85661, 2.35222],
                    zoom: 12
                }
            },
            marker:{
                values: [
                    {latLng:[48.85661, 2.35222], data:"Paris"}

                ],
                options: {
                    draggable: false
                },
            }
        });
    </script>



</body></html>

{% endblock %}