{% extends '/hotel/components/header.html' %} {% block controller%}hotelController{% endblock %} {% block
    content%}

        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Job Application | The Travel Square
                </div>
                <ul class="breadcrumbs pull-right">
                    
                    <li class="active">Internship & Permanent Jobs</li>
                </ul>
            </div>
        </div>

       <section id="content">
            <div class="container">
			
			
			
                <div class="row">
                    <div id="main" class="col-sm-8 col-md-9">
					
					
					
                        <div class="travelo-box booking-section">
                            <form class="booking-form">
                                <div class="person-information">
								<center><img src="images/The-Travel-Square-Logo.png"></center><br><br>
								
                                    <h2>Personal Details</h2>
									<p>Please Enter Your Personal Details Below. The Personal Data in Any Terms Will Not Be Misused or Publicised .<br><a href=""><span class="skin-color">
									Personal Data Storage Policy | We are Data Protection Law Approved |</span></a></p><br>
                                  
                                    <div class="form-group row">
                                        <div class="col-sm-3 col-md-10">
                                            <label>Full Name</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="Enter Your Full Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-md-5 constant-column-3">
                                            <div>
                                                <label>Date of Birth</label>
                                                <div class="selector">
                                                    <select class="full-width">
                                                        <option>Date</option>
                                                    </select><span class="custom-select full-width">Date</span>
                                                </div>
                                            </div>
                                            <div>
                                                <label>Month</label>
                                                <div class="selector">
                                                    <select class="full-width">
                                                        <option>02</option>
                                                    </select><span class="custom-select full-width">Jan</span>
                                                </div>
                                            </div>
                                            <div>
                                                <label>Year</label>
                                                <div class="selector">
                                                    <select class="full-width">
                                                        <option>01</option>
                                                    </select><span class="custom-select full-width">1970</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <label>Gender</label>
                                            <div class="selector">
                                                <select class="full-width">
                                                    <option>Male</option>
                                                    <option>Female</option>
                                                    <option>Unspecified</option>
                                                </select><span class="custom-select full-width"></span>
                                            </div>
                                        </div>
                                    </div>
									<div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>Home Address</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <label>Nearest Landmark</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                    </div>
									<div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>E-mail Address</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <label>Contact Number</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                    </div>
									<div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>Graduation</label>
                                            <div class="selector">
                                                <select class="full-width">
                                                    <option>10+</option>
                                                    <option>12+</option>
                                                    <option>Under Graduate</option>
                                                </select><span class="custom-select full-width">Graduate</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <label>Work Experience</label>
                                            <div class="selector">
                                                <select class="full-width">
                                                    <option>Under 1 Year Experience</option>
                                                    <option>United Kingdom</option>
                                                    <option>United State</option>
                                                </select><span class="custom-select full-width">Fresher</span>
                                            </div>
                                        </div>
                                    </div>
									<div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>College/School Name</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <label>Refferal Person</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                    </div>
									
                                        <a href="" class="button btn-medium sky-blue1 uppercase">Submit Personal Details</a>
                                </div>
                                <hr>
                                <div class="group-details">
                                    <h2>Job & Internship Details</h2>
									<p>Please Fill Up The Job & Internship Details Application and Select The Job You Are Applying For .</p>
									<div class="form-group row">
										
                                        <div class="col-sm-6 col-md-5">
                                            <label>Job Department</label>
                                            <div class="selector">
                                                <select class="full-width">
                                                    <option>Data Management Dept.</option>
                                                    <option>Marketing Dept.</option>
                                                    <option>Server Management</option>
                                                </select><span class="custom-select full-width">Technical Dept.</span>
                                            </div>
                                        </div>
										<div class="col-sm-6 col-md-5">
                                            <label>Job Post (Can Select Muliple For Post)</label>
                                            <div class="selector">
                                                <select class="full-width">
                                                    <option>Buses</option>
                                                    <option>Hotel Vendor</option>
                                                    <option>Cabs</option>
                                                </select><span class="custom-select full-width">Hotel Partner</span>
                                            </div>
                                        </div>
                                        
                                    </div>
									
									
                                </div>
                                <hr>
                                <div class="booking-type">
                                    <h2>Document Upload</h2>
									<p>Attach Your Resume and Upload</p>
                                    
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>Applicants Resume</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="">
                                        </div>
                                        
                                    </div>
									
									<a href="" class="button btn-medium sky-blue1 uppercase">Upload Documents</a>
                                </div>
                                <hr>
                                
                                
                                <hr>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> By Continuing , You Agree the Internship & Job Agreement <a href=""><span class="skin-color">Terms and Conditions</span></a>.
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <button type="submit" class="full-width btn-large">SUBMIT FORM</button>
                                    </div>
									<label>Your Details Will Be Verified & Interview Will Be Scheduled Over Call</label>
   
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar col-sm-4 col-md-3">
                        <div class="travelo-box contact-box">
                            <center><h4>Need Some Help ?</h4>
                            <p>Our HR Executives Are Always Ready Help You 24/7 .</p>
                            <address class="contact-details">
                                <span class="contact-phone">+91-9650333567</span><br>
                                <br>
                                <a class="contact-email" href="">b2b@thetravelsquare.in</a>
                            </address></center>
                        </div>
						<div class="travelo-box book-with-us-box">
                            <center><h4>Why Join Us ?</h4></center>
                            <ul>
                                <li>
                                    <i class="soap-icon-hotel-1 circle"></i>
                                    <h5 class="title"><a href="" class="skin-color">20+ Industrial Tie-Ups</a></h5>
                                    <p>The Travel Square is Recognised Amongst Top International DMC Worldwide .</p>
                                </li>
                                <li>
                                    <i class="soap-icon-savings circle"></i>
                                    <h5 class="title"><a href="" class="skin-color">Recognised Trainnings</a></h5>
                                    <p>The Travel Square Provides Recognised Trainnings From Certified Professionals.</p>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="travelo-box">
                            <center><h4 class="box-title">Our Partners & Recognitions</h4></center><br>
                            <div class="image-box style14">
                                <article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="images/images/The-Travel-Square-Partners-With-The-Leela-Palaces-Hotels-and-Resorts.jpg" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">The Leela</a></h5>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="images/images/The-Travel-Square-Partners-With-OYO.png" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">OYO Rooms</a></h5>
                                    </div>
                                </article>
								<article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="images/images/The-Travel-Square-Partners-With-Club-Mahindra.png" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">Club Mahindra</a></h5>
                                    </div>
                                </article>
								                                <article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="images/images/The-Travel-Square-Partners-With-Country-Holiday-Inn-and-Suites-CHIS.png" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">CHIS</a></h5>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="images/images/The-Travel-Square-Trav-Clan.png" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">Trav Clan</a></h5>
                                    </div>
                                </article>
								<article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="images/images/The-Travel-Square-Partners-With-Go-Ibibo-Go-Stays.jpg" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">Go Ibibo</a></h5>
                                    </div>
                                </article>
								<article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="images/images/ministry-of-corporate-affairs-of-india-The-Travel-Square.jpg" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">MCA</a></h5>
                                    </div>
                                </article>
								                                <article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="images/images/start-up-india-the-travel-square.png" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">Startup India</a></h5>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="images/images/K-CIIS-kalam-center-for-innovation-and-incubation-of-start-up-the-travel-square.jpg" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">Kalam Inclubation</a></h5>
                                    </div>
                                </article>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        
        {% include '/hotel/components/footer.html' %}

    </div>
    


    <!-- Javascript -->
    <script type="text/javascript" src="./About Travel Beans_files/jquery-1.11.1.min.js.download"></script>
    <script type="text/javascript" src="./About Travel Beans_files/jquery.noconflict.js.download"></script>
    <script type="text/javascript" src="./About Travel Beans_files/modernizr.2.7.1.min.js.download"></script>
    <script type="text/javascript" src="./About Travel Beans_files/jquery-migrate-1.2.1.min.js.download"></script>
    <script type="text/javascript" src="./About Travel Beans_files/jquery.placeholder.js.download"></script>
    <script type="text/javascript" src="./About Travel Beans_files/jquery-ui.1.10.4.min.js.download"></script>
    
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="./About Travel Beans_files/bootstrap.js.download"></script>
    
    <!-- parallax -->
    <script type="text/javascript" src="./About Travel Beans_files/jquery.stellar.min.js.download"></script>
    
    <!-- waypoint -->
    <script type="text/javascript" src="./About Travel Beans_files/waypoints.min.js.download"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="./About Travel Beans_files/theme-scripts.js.download"></script>
    <script type="text/javascript" src="./About Travel Beans_files/scripts.js.download"></script>
</body></html>

{% endblock %}