{% extends '/hotel/components/header.html' %} {% block controller%}hotelController{% endblock %} {% block
    content%}

        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Legal Information | The Travel Square </h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    
                    <li class="active">Legal Information</li>
                </ul>
            </div>
        </div>

        <section id="content">
            <div class="container">
                <div id="main">
                    <div class="tab-container style1 travelo-policies">
                        <ul class="tabs full-width">
                            <li class="active"><a data-toggle="tab" href="http://www.soaptheme.net/html/travelo/pages-travelo-policies.html#legal-information">Legal Information</a></li>
                            <li><a data-toggle="tab" href="http://www.soaptheme.net/html/travelo/pages-travelo-policies.html#recognisation">Recognisation</a></li>
                            <li><a data-toggle="tab" href="http://www.soaptheme.net/html/travelo/pages-travelo-policies.html#copyright-policy">Registered Office</a></li>
                            <li><a data-toggle="tab" href="http://www.soaptheme.net/html/travelo/pages-travelo-policies.html#guest-refund-policy">Legal Advisory Board</a></li>
                            <li><a data-toggle="tab" href="http://www.soaptheme.net/html/travelo/pages-travelo-policies.html#privacy-policy">Terms & Conditions</a></li>
                            <li><a data-toggle="tab" href="http://www.soaptheme.net/html/travelo/pages-travelo-policies.html#acceptable-usage-policy">Privacy Policy & Data Protection Act</a></li>
                        </ul>
                        <div class="tab-content">
						
                            <div id="legal-information" class="tab-pane fade in active">
                                
                                
			<div class="container">
                <div class="row">
					<div class="sidebar col-md-4">
                        <div class="travelo-box contact-box">
						<center><h2>The Travel Square | Legal Information</h2><br>
						<img src="images/The-Travel-Square-Logo.png"></center>
                            
                        </div>
                        
                        
                    </div>
                    <div id="main" class="col-md-7">
                        <div class="travelo-box travel-ideas">
                           

                            <div class="suggested-places">
                                <div class="overflow-hidden">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <ul class="check-square box">
                                                <li>
                                                    <a href="">
                                                        <h6 class="box-title">Company Name<small>Goodvibes Travel Venture Pvt. Ltd.</small></h6>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <h6 class="box-title">Registered Address<small>1/10598 Mohan Park , Naveen Shahdara , Delhi-32 </small></h6>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <h6 class="box-title">Country<small>India</small></h6>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <h6 class="box-title">GST Number<small>07AAHCG5354P1Z1</small></h6>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <h6 class="box-title">Trademark<small>The Travel Square</small></h6>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="check-square box">
                                                <li>
                                                    <a href="">
                                                        <h6 class="box-title">Email Address<small>contact@travelbeans.in</small></h6>
                                                    </a>
                                                </li>
                                                <li class="active">
                                                    <a href="">
                                                        <h6 class="box-title">Contact<small>+91-7428558566</small></h6>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <h6 class="box-title">Disclaimer<small>By Laws</small></h6>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <h6 class="box-title">Privacy Policy<small>Data Protection Act</small></h6>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <h6 class="box-title">Cookie Policy<small>By Laws</small></h6>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="check-square box">
                                                <li>
                                                    <a href="">
                                                        <h6 class="box-title">Terms of Use<small>T&C Applicable</small></h6>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <h6 class="box-title">Right to Information<small>Ask Anything</small></h6>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <h6 class="box-title">IP Rights<small>Intelectual Property</small></h6>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <h6 class="box-title">Copyrights & Patents<small>5+ TM</small></h6>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <h6 class="box-title">Licenses<small>Govt. of India</small></h6>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>
                    </div>
                    
                </div>
            </div>

                            </div>
							
							<div id="recognisation" class="tab-pane fade">
                               <div class="block">
								<div class="row image-box style1 team">
								<div class="col-sm-6 col-md-3">
								<article class="box">
                                <figure>
                                    <a href="#"><img src="images/ministry-of-corporate-affairs-of-india-the-travel-square.jpg" alt="The Travel Square Ministry of Corporate Affairs" width="270" height="263" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title"><a href="#">Ministry of Corporate Affairs<small>India</small></a></h4>
                                    <p class="description">Travel Beans is Registered Under ROC and Ministry of Corporate 
									Affairs of India by the Name Unlock Innovation Pvt. Ltd.</p>
                                </div>
								</article>
								</div>
								<div class="col-sm-6 col-md-3">
								<article class="box">
                                <figure>
                                    <a href="#"><img src="images/start-up-india-the-travel-square.png" alt="The Travel Square Startup India" width="270" height="263" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title"><a href="#">Start Up India<small>New Delhi , India</small></a></h4>
                                    <p class="description">Travel Beans is Registered Under The Startup India Program , Organised By the Govt. Of India</p>
                                    
                                </div>
								</article>
								</div>
								<div class="col-sm-6 col-md-3">
								<article class="box">
                                <figure>
                                    <a href="#"><img src="images/K-CIIS-kalam-center-for-innovation-and-incubation-of-start-up-the-travel-square.jpg" alt="The Travel Square K-CIIS" width="270" height="263" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title"><a href="#">Kalam Center for Innovation<small>Uttar Pradesh , India</small></a></h4>
                                    <p class="description">Travel Beans is Also Registered Under the Kalam Incubation Center in Uttar Pradesh and is One of the Leading Startup</p>
                                    
                                </div>
								</article>
								
								</div>
								</div>
								</div>
                            </div>
							
                            <div id="copyright-policy" class="tab-pane fade">
                                <div class="policy">
                                    
								<center><h2>Registered Office | New Delhi</h2>
                                    <p>1/10598 Mohan Park Naveen Shahdara , Delhi - 110032<a href=""><span class="skin-color"></span></a> <br><br>
								<img src="images/Coporate-Offices-New-Delhi-Naveen-Shahdara-The-Travel-Square.png"><br>
								</center><br>
								<center><h2>Headquarters | Greater Noida</h2>
                                    <p>Gate-2 Plot No. 3 , Knowledge Park - II Greater Noida , UP-201306<a href=""><span class="skin-color"></span></a> <br><br>
								<img src="images/Coporate-Offices-The-Travel-Square-Greater-Noida.png"><br>
								</center><br>
								
									</p>
                                </div>
                            </div>
							
                            <div id="guest-refund-policy" class="tab-pane fade">
                                <div class="block">
								<h2>Legal Advisory | Board Members</h2>
								<div class="row image-box style1 team">
								<div class="col-sm-6 col-md-3">
								<article class="box">
                                <figure>
                                    <a href="#"><img src="images/vibhu-gupta-director-founder-travel-beans.jpg" alt="Vibhu Gupta The Travel Square" width="270" height="263" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title"><a href="#">Vibhu Gupta<small>Director , Founder</small></a></h4>
                                    <p class="description">LLB Busiess Laws , MD University India , Data Protection Officer, ICO </p>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="https://twitter.com/vibhuguptabjp" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="instagram"><a title="instagram" href="https://www.instagram.com/vibhu.official/" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="https://www.facebook.com/vibhu.official/" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="https://www.linkedin.com/in/vibhu-gupta/" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                  
                                    </ul>
                                </div>
								</article>
								</div>
								
								<div class="col-sm-6 col-md-3">
								<article class="box">
                                <figure>
                                    <a href="#"><img src="images/Rajdeep-Deb-Mentor-the-travel-square.jpg" alt="Rajdeep Deb The Travel Square" width="270" height="263" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title"><a href="#">Rajdeep Deb<small>Mentor , Legal Advisor</small></a></h4>
                                    <p class="description">Technical Graduate , Co-Founder Frantic Infotech , Greno News </p>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                                    </ul>
                                </div>
								</article>
								</div>
								
								<div class="col-sm-6 col-md-3">
								<article class="box">
                                <figure>
                                    <a href="#"><img src="images/Anshul-Dwivedi-The-Travel-Square.jpg" alt="Anshul Dwivedi The Travel Square" width="270" height="263" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title"><a href="#">Anshul Dwivedi<small>Legal Advisor</small></a></h4>
                                    <p class="description">LLB Graduate , CCS University India , Founder Canvaas Softwares Group</p>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                                    </ul>
                                </div>
								</article>
								</div>
								
								</div>
								</div>
                

                            </div>
							
                            <div id="terms-business" class="tab-pane fade">
                                
                            </div>
							
                            <div id="cancellations" class="tab-pane fade">
                                
                            </div>
							
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        {% include '/hotel/components/footer.html' %}

    </div>
    


    <!-- Javascript -->
    <script type="text/javascript" src="./About Travel Beans_files/jquery-1.11.1.min.js.download"></script>
    <script type="text/javascript" src="./About Travel Beans_files/jquery.noconflict.js.download"></script>
    <script type="text/javascript" src="./About Travel Beans_files/modernizr.2.7.1.min.js.download"></script>
    <script type="text/javascript" src="./About Travel Beans_files/jquery-migrate-1.2.1.min.js.download"></script>
    <script type="text/javascript" src="./About Travel Beans_files/jquery.placeholder.js.download"></script>
    <script type="text/javascript" src="./About Travel Beans_files/jquery-ui.1.10.4.min.js.download"></script>
    
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="./About Travel Beans_files/bootstrap.js.download"></script>
    
    <!-- parallax -->
    <script type="text/javascript" src="./About Travel Beans_files/jquery.stellar.min.js.download"></script>
    
    <!-- waypoint -->
    <script type="text/javascript" src="./About Travel Beans_files/waypoints.min.js.download"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="./About Travel Beans_files/theme-scripts.js.download"></script>
    <script type="text/javascript" src="./About Travel Beans_files/scripts.js.download"></script>
</body></html>

{% endblock %}