<!DOCTYPE html>

<html class="">

	<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <!-- Page Title -->
    <title>Privacy Policy | The Travel Square | India's Largest B2B Chain</title>
    
    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="The Travel Square">
    <meta name="description" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
    <meta name="distribution" content="global">
    <meta name="country" content="india">
    <meta name="copyright" content="The Travel Square">
    <meta name="revisit-after" content="1 hour">
    <meta name="designer" content="The Travel Square">
    <meta name="language" content="english">
    <meta name="robots" content="index, follow">
    <meta name="rating" content="general">
    <meta name="publisher" content="The Travel Square">

    <meta property="og:title" content="The Travel Square">
    <meta property="og:description" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
    
	<meta property="og:image" content="http://www.thetravelsquare.in/images/the-travel-square-logo-thumbnail.png">
	<meta property="og:url" content="http://business.thetravelsquare.in/">
  
    <meta name="twitter:card" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
  
    <meta name="keywords" content="b2b travel, the travel square, b2b hotels, b2b flights, partner login b2b, b2b travel portal, b2b travel agencies, b2b dmc, hotel dmc's, b2b travel agency, b2b travel group, best b2b travel agency, India's Largest B2B Travel Network">
    <meta name="format-detection" content="7428558566">
	
    
	<link rel="shortcut icon" href="http://www.thetravelsquare.in/images/the-travel-square-logo-thumbnail.png" type="image/x-icon">
    
    <!-- Theme Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/bootstrap.min.css">
    <link rel="stylesheet" href="http://thetravelsquare.in/files/font-awesome.min.css">
    <link rel="stylesheet" href="http://thetravelsquare.in/files/animate.min.css">
    
    <!-- Main Style -->
    
    <link id="main-style" rel="stylesheet" href="/files/style-light-yellow.css">
    
    <!-- Updated Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/updates.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/custom.css">
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/responsive.css">
    
	<style>
	.responsive {
	width: 100%;
	max-height: 200%;
	height: auto;
	}
	</style>
	
	<body>
    
	<div id="page-wrapper">
       
	   <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">
                        <li><a href="http://business.thetravelsquare.in/partner-care" rel="follow">Partner Care</a></li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li>
						<a href="http://partner.thetravelsquare.in/login.php" class="button white btn-small" style="height: 30px; font-size: 1em;">
						<font color="black">PARTNER LOGIN</font></a></li>
                        <li><a href="customer-care.html" class="soap-popupbox" rel="follow"></a></li>

                    </ul>
                </div>
            </div>
            
            <div class="main-header">
                
                <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
                    Menu
                </a>

                <div class="container">
                    <h1 class="navbar-brand" style="height: 0%; ">
                        <a href="http://business.thetravelsquare.in/" title="the travel square b2b logo">
                            <img src="http://thetravelsquare.in/images/the-travel-square-india-logo.png" alt="the travel square b2b logo" title="the travel square b2b logo">
                        </a>
                    </h1><br>
                    
                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
							<li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.org" rel="follow"><b>Our Story</b></a>
                                
                            </li>
                            <li class="menu-item-has-children active">
                                <a href="http://business.thetravelsquare.in/"><b><big>Home</big></b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/work"><b>How Do We Work ?</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/suppliers"><b>Top Suppliers</b></a>
                                
                            </li>
                           <li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/testimonials"><b>Testimonials</b></a>
                                
                            </li>
							
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/contact"><b>Contact Us</b></a>
                                
                            </li>
                           
                            
                            
                        </ul>
                    </nav>
                </div>
                
                <nav id="mobile-menu-01" class="mobile-menu collapse">
                    <ul id="mobile-primary-menu" class="menu">
                        <li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.org" rel="follow"><b>Our Story</b></a>
                                
                            </li>
                            <li class="menu-item-has-children active">
                                <a href="http://business.thetravelsquare.in/"><b><big>Home</big></b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/work"><b>How Do We Work ?</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/suppliers"><b>Top Suppliers</b></a>
                                
                            </li>
                           <li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/testimonials"><b>Testimonials</b></a>
                                
                            </li>
							
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/contact"><b>Contact Us</b></a>
                                
                            </li>
                           
                    </ul>
                    
                    <ul class="mobile-topnav container">
                        <center><br>
						<button class="button full-width white uppercase animated" data-animation-type="tada"><b><big><font color="black">PARTNER LOGIN</font></big></b></button>
                        
                    </ul>
                    <br>
                </nav>
				
				
            </div>
        </header>

        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Press Release | The Travel Square</h2>
                </div>
               
            </div>
        </div>

        <section id="content">
            <div class="container">
                <div class="row">
                    <div id="main" class="col-sm-8 col-md-9">
                        <div class="page">
                            
                            <div class="post-content">
                                <div class="blog-infinite">
                                    <div class="post">
                                        <div class="post-content-wrapper">
                                            <figure class="image-container">
                                                <a href="" class="hover-effect"><img src="images/the-travel-square-Awarded-Innovative-Icon-Startup-By-Skyline-College.jpeg" alt=""></a>
                                            </figure>
                                            <div class="details">
                                                <h2 class="entry-title"><a href="">Innovation Icon | Skyline College </a></h2>
                                                <div class="excerpt-container">
                                                    <p>The Travel square Was Awarded The Startup Innovation Icon Titte By Skyline College of Engineering & Technology on the Occasion of Its
													Annual Fest For Technical Startups & Upcomming Ideas on 3rd of May at Skyline College Greater Noida . The Award Was Given By The Chairman 
													and Senior Technical Faculties of the College Recieved By the Managing Director Mr.Vibhu Gupta and Operation Head Mr. Ishan Waghraje on 
													the Behalf of the Company</p> 
												</div>
												<div class="entry-date">
                                                        <label class="date">3</label>
                                                        <label class="month">May</label>
                                                    </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <a href="" class="button btn-large full-width">LOAD MORE RELEASE</a>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar col-sm-4 col-md-3">
                        
                        <div class="travelo-box">
                            <h5 class="box-title">Travel Beans</h5>
                            <p>The Travel Square is a Network of 10000+ Travel Suppliers , DMC & Hotel Chains Inspiring the World to Travel In
							Style With Luxury at Affordabe Pricing .</p>
                        </div>
                        
                        
                        <div class="travelo-box twitter-box">
                            <h4 class="box-title">Twitter Feeds</h4>
                            <div class="twitter-holder">
                                <ul>
                                    <li class="tweet">
                                        <p class="tweet-text">
                                            <a href="https://twitter.com/signaturemember">@signaturemember</a>, Signature Club Launches a Lucerative Membership Deal Worth 21,000/- With 7 Nights Worldwide Luxury Stay at 5 Star Properties.
                                        </p>
                                        <a class="tweet-date" Target="_blank" href="https://twitter.com/signaturemember">5 Minutes ago</a>
                                    </li>
                                    <li class="tweet">
                                        <p class="tweet-text">
                                            Join India's Largest B2B Platform , The Travel Square For Best B2B Travel Rates.
                                            <a href="http://www.thetravelsquare.in/" Target="_blank" >www.thetravelsquare.in</a>
                                        </p>
                                        <a class="tweet-date" href="https://twitter.com/travelsquare_">1 Day ago</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        
        {% include '/hotel/components/footer.html' %}

    </div>
   


    <!-- Javascript -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-1.11.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.noconflict.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/modernizr.2.7.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-migrate-1.2.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.placeholder.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-ui.1.10.4.min.js.download"></script>
    
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/bootstrap.js.download"></script>

    <!-- Google Map Api -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/js"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/gmap3.min.js.download"></script>
    
    <!-- parallax -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.stellar.min.js.download"></script>
    
    <!-- waypoint -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/waypoints.min.js.download"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/theme-scripts.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/scripts.js.download"></script>

    <script type="text/javascript">
        tjq(".travelo-google-map").gmap3({
            map: {
                options: {
                    center: [48.85661, 2.35222],
                    zoom: 12
                }
            },
            marker:{
                values: [
                    {latLng:[48.85661, 2.35222], data:"Paris"}

                ],
                options: {
                    draggable: false
                },
            }
        });
    </script>



</body></html>

