{% extends '/hotel/components/header.html' %} {% block controller%}hotelController{% endblock %} {% block
    content%}

        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Press Release | The Travel Square</h2>
                </div>
               
            </div>
        </div>

        <section id="content">
            <div class="container">
                <div class="row">
                    <div id="main" class="col-sm-8 col-md-9">
                        <div class="page">
                            
                            <div class="post-content">
                                <div class="blog-infinite">
                                    <div class="post">
                                        <div class="post-content-wrapper">
                                            <figure class="image-container">
                                                <a href="" class="hover-effect"><img src="images/the-travel-square-Awarded-Innovative-Icon-Startup-By-Skyline-College.jpeg" alt=""></a>
                                            </figure>
                                            <div class="details">
                                                <h2 class="entry-title"><a href="">Innovation Icon | Skyline College </a></h2>
                                                <div class="excerpt-container">
                                                    <p>The Travel Sqaure Was Awarded The Startup Innovation Icon Titte By Skyline College of Engineering & Technology on the Occasion of Its
													Annual Fest For Technical Startups & Upcomming Ideas on 3rd of May at Skyline College Greater Noida . The Award Was Given By The Chairman 
													and Senior Technical Faculties of the College Recieved By the Managing Director Mr.Vibhu Gupta and Operation Head Mr. Ishan Waghraje on 
													the Behalf of the Company</p> 
												</div>
												<div class="entry-date">
                                                        <label class="date">3</label>
                                                        <label class="month">May</label>
                                                    </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <a href="" class="button btn-large full-width">LOAD MORE RELEASE</a>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar col-sm-4 col-md-3">
                        
                        <div class="travelo-box">
                            <h5 class="box-title">Travel Beans</h5>
                            <p>The Travel Square is a Network of 10000+ Travel Suppliers , DMC & Hotel Chains Inspiring the World to Travel In
							Style With Luxury at Affordabe Pricing .</p>
                        </div>
                        
                        
                        <div class="travelo-box twitter-box">
                            <h4 class="box-title">Twitter Feeds</h4>
                            <div class="twitter-holder">
                                <ul>
                                    <li class="tweet">
                                        <p class="tweet-text">
                                            <a href="https://twitter.com/signaturemember">@signaturemember</a>, Signature Club Launches a Lucerative Membership Deal Worth 21,000/- With 7 Nights Worldwide Luxury Stay at 5 Star Properties.
                                        </p>
                                        <a class="tweet-date" Target="_blank" href="https://twitter.com/signaturemember">5 Minutes ago</a>
                                    </li>
                                    <li class="tweet">
                                        <p class="tweet-text">
                                            Join India's Largest B2B Platform , The Travel Square For Best B2B Travel Rates.
                                            <a href="http://www.thetravelsquare.in/" Target="_blank" >www.thetravelsquare.in</a>
                                        </p>
                                        <a class="tweet-date" href="https://twitter.com/travelsquare_">1 Day ago</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        
        {% include '/hotel/components/footer.html' %}

    </div>
   


    <!-- Javascript -->
    <script type="text/javascript" src="./Contact Travel Beans_files/jquery-1.11.1.min.js.download"></script>
    <script type="text/javascript" src="./Contact Travel Beans_files/jquery.noconflict.js.download"></script>
    <script type="text/javascript" src="./Contact Travel Beans_files/modernizr.2.7.1.min.js.download"></script>
    <script type="text/javascript" src="./Contact Travel Beans_files/jquery-migrate-1.2.1.min.js.download"></script>
    <script type="text/javascript" src="./Contact Travel Beans_files/jquery.placeholder.js.download"></script>
    <script type="text/javascript" src="./Contact Travel Beans_files/jquery-ui.1.10.4.min.js.download"></script>
    
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="./Contact Travel Beans_files/bootstrap.js.download"></script>

    <!-- Google Map Api -->
    <script type="text/javascript" src="./Contact Travel Beans_files/js"></script>
    <script type="text/javascript" src="./Contact Travel Beans_files/gmap3.min.js.download"></script>
    
    <!-- parallax -->
    <script type="text/javascript" src="./Contact Travel Beans_files/jquery.stellar.min.js.download"></script>
    
    <!-- waypoint -->
    <script type="text/javascript" src="./Contact Travel Beans_files/waypoints.min.js.download"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="./Contact Travel Beans_files/theme-scripts.js.download"></script>
    <script type="text/javascript" src="./Contact Travel Beans_files/scripts.js.download"></script>

    <script type="text/javascript">
        tjq(".travelo-google-map").gmap3({
            map: {
                options: {
                    center: [48.85661, 2.35222],
                    zoom: 12
                }
            },
            marker:{
                values: [
                    {latLng:[48.85661, 2.35222], data:"Paris"}

                ],
                options: {
                    draggable: false
                },
            }
        });
    </script>



</body></html>

{% endblock %}