<!DOCTYPE html>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Page Title -->
<title>Customer Dashboard | The Travel Square | India's Largest Travel Community</title>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="The Travel Square">
<meta name="description"
    content="India's Largest & Fastest Growing Travel Community . The Travel Square is a Network of 10000+ Travel Suppliers , DMC & Hotel Chains & Travellers Inspiring the World to Travel In Style With Luxury at Affordabe Pricing . The Travel Square Allows its Customers to Build The Most Customizable and Comfortable Holiday Package They Desire , Hassle Free After Comparision , Without Interence of Any Agency or Third Party . It Also Gives Free Credits & No-Cost EMI Travel Plans for Its Customers to Book , With Good Management of Their Budgets.">
<meta name="distribution" content="global">
<meta name="country" content="india">
<meta name="copyright" content="The Travel Square">
<meta name="revisit-after" content="1 hour">
<meta name="designer" content="The Travel Square">
<meta name="language" content="english">
<meta name="robots" content="index, follow">
<meta name="rating" content="general">
<meta name="publisher" content="The Travel Square">

<meta property="og:title" content="The Travel Square">
<meta property="og:description"
    content="India's Largest & Fastest Growing Travel Community . The Travel Square is a Network of 10000+ Travel Suppliers , DMC & Hotel Chains & Travellers Inspiring the World to Travel In Style With Luxury at Affordabe Pricing . The Travel Square Allows its Customers to Build The Most Customizable and Comfortable Holiday Package They Desire , Hassle Free After Comparision , Without Interence of Any Agency or Third Party . It Also Gives Free Credits & No-Cost EMI Travel Plans for Its Customers to Book , With Good Management of Their Budgets.">

<meta property="og:image" content="http://www.thetravelsquare/the-travel-square-logo-thumbnail.png">
<meta property="og:url" content="http://www.thetravelsquare.in/">

<meta name="twitter:card"
    content="India's Largest & Fastest Growing Travel Community . The Travel Square is a Network of 10000+ Travel Suppliers , DMC & Hotel Chains & Travellers Inspiring the World to Travel In Style With Luxury at Affordabe Pricing . The Travel Square Allows its Customers to Build The Most Customizable and Comfortable Holiday Package They Desire , Hassle Free After Comparision , Without Interence of Any Agency or Third Party . It Also Gives Free Credits & No-Cost EMI Travel Plans for Its Customers to Book , With Good Management of Their Budgets.">

<meta name="keywords"
    content="travel in india ,travel packages , dubai packages , holiday packages , travel, the travel square, hotels, flights, India's Largest Travel Community">
<meta name="format-detection" content="7428558566">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<!-- Theme Styles -->
<link rel="stylesheet" href="files/bootstrap.min.css">
<link rel="stylesheet" href="files/font-awesome.min(1).css">
<link href="files/css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="files/animate.min.css">

<!-- Current Page Styles -->
<link rel="stylesheet" type="text/css" href="files/settings.css" media="screen">
<link rel="stylesheet" type="text/css" href="files/style.css" media="screen">
<link rel="stylesheet" type="text/css" href="files/jquery.bxslider.css" media="screen">
<link rel="stylesheet" type="text/css" href="files/flexslider.css" media="screen">

<!-- Main Style -->
<!--<link id="main-style" rel="stylesheet" href="css/style.css">-->
<script type="text/javascript">
    var mainStyle = "style.css";
    if (typeof localStorage != "undefined") {
        var colorSkin = localStorage.getItem("colorSkin");
        if (colorSkin != null) {
            mainStyle = "style-" + colorSkin + ".css";
        }
    }
    document.write('<link id="main-style" rel="stylesheet" href="css/' + mainStyle + '">');
</script>
<link id="main-style" rel="stylesheet" href="files/style(1).css">
<link id="main-style" rel="stylesheet" href="files/style-light-yellow.css">

<!-- Updated Styles -->
<link rel="stylesheet" href="files/updates.css">

<!-- Custom Styles -->
<link rel="stylesheet" href="files/custom.css">

<!-- Responsive Styles -->
<link rel="stylesheet" href="files/responsive.css">



<style>
        * {
          box-sizing: border-box;
        }
        
        
        
        .overlaycity {
          position: relative;
          max-width: 800px;
          margin: 0 auto;
        }
        
        .overlaycity img {vertical-align: middle;}
        
        .overlaycity .picturecity {
          position: absolute;
          bottom: 0;
          background: rgb(0, 0, 0); 
          background: rgba(0, 0, 0, 0.2); 
          color: #f1f1f1;
          width: 120%;
          padding: 70px;
          left: -25px;
        }
        </style>
        
        <style>
        * {
          box-sizing: border-box;
        }
        
      
        
        .overlay {
          position: relative;
          max-width: 800px;
          margin: 0 auto;
        }
        
        .overlay img {vertical-align: middle;}
        
        .overlay .picture {
          position: absolute;
          bottom: 0;
          background: rgb(0, 0, 0); /* Fallback color */
          background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
          color: #f1f1f1;
          width: 100%;
          padding: 20px;
        }
        </style>
            
            <style>
            .responsive {
            width: 100%;
            max-height: 200%;
            height: auto;
            }
            </style>
            
            <link rel="shortcut icon" href="http://www.thetravelsquare.in/images/the-travel-square-logo-thumbnail.png" type="image/x-icon">
            
            <script>
        
        $(document).ready(function() {
          // Gets the video src from the data-src on each button
        
          var $videoSrc;
          $(".video-btn").click(function() {
            $videoSrc = $(this).data("src");
          });
          console.log($videoSrc);
        
          // when the modal is opened autoplay it
          $("#myModal").on("shown.bs.modal", function(e) {
            // set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
            $("#video").attr(
              "src",
              $videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0"
            );
          });
        
          // stop playing the youtube video when I close the modal
          $("#myModal").on("hide.bs.modal", function(e) {
            // a poor man's stop video
            $("#video").attr("src", $videoSrc);
          });
        
          // document ready
        });
        
        
        </script>
            
            <style>
        
        
        .modal-dialog {
          max-width: 1000px;
          margin: 30px auto;
        }
        
        .modal-body {
          position: relative;
          padding: 0px;
        }
        .close {
          position: absolute;
          right: -30px;
          top: 0;
          z-index: 999;
          font-size: 2rem;
          font-weight: normal;
          color: #fff;
          opacity: 1;
        }
        
        </style>
        




<style>
    .responsive {
        width: 100%;
        max-width: 1200px;
        height: 530;
    }
</style>

<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
    }
</style>



</head>

<body>

    <div id="page-wrapper">
        <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">

                        <li><a href="http://www.thetravelsquare.in/customer-care"><img height="20" width="20"
                                    src="images/dashboard/24-7-customer-support-the-travel-square-icon.png">&nbsp;&nbsp;<b>Customer
                                    Support</b></a></li>
                        <li><a href="http://www.thetravelsquare.in/enquiry"><img height="20" width="17"
                                    src="images/dashboard/travel-expert-the-travel-square-icon.png">&nbsp;&nbsp;<b>Travel
                                    Expert</b></a></li>

                        <li><a href="http://www.thetravelsquare.in/holidays">
                                <font color="black"><a class="button white btn-small uppercase"
                                        style="height: 30px; font-size: 1em; color:black">
                                        <img height="25" width="25"
                                            src="images/holiday_ballon.png">&nbsp;&nbsp;<b>Customize Holiday</b></a>
                                </font>
                            </a></li>
                        <li><a href="http://thetravelsquare.in/offers-and-deals"><img height="18" width="20"
                                    src="images/dashboard/offer-and-deal-the-travel-square-icon.png">&nbsp;&nbsp;<b>Best
                                    Offers & Deals</b></a></li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li><a href="http://www.thetravelsquare.in/customer-care"><img height="17" width="12"
                                    src="images/dashboard/toll-free-the-travel-square-icon.png">&nbsp;
                                <b>+91-7428558566</b></a></li>
                        <li class="ribbon">
                            <a href="http://www.thetravelsquare.in/login.php">
                                <font color="black"><a class="button white btn-small uppercase"
                                        style="height: 30px; font-size: 1em; color:black"><img
                                            src="images/login-icon.png" height="18" width="18">&nbsp; &nbsp; Login /
                                        Sign Up</a></font>
                            </a>

                            <ul class="menu mini uppercase">
                                <li><a href="http://www.thetravelsquare.in/dashboard">Dashboard</a></li>
                                <li><a href="http://www.thetravelsquare.in/logout.php">Log Out</a></li>
                            </ul>
                        </li>
                        <li><a href="http://business.thetravelsquare.in/booking-cart"><img height="27" width="30"
                                    src="http://thetravelsquare.in/images/cart-image.png"></a></li>

                    </ul>
                </div>
            </div>

            <div class="main-header">

                <a href="http://partner.thetravelsquare.in/#mobile-menu-01" data-toggle="collapse"
                    class="mobile-menu-toggle">
                    Mobile Menu Toggle
                </a>

                <div class="container">
                    <h1 class="navbar-brand" style="height:20%">
                        <a href="http://partner.thetravelsquare.in/dashboard" title="The Travel Square">
                            <img src="http://www.thetravelsquare.in/images/the-travel-square-india-logo.png"
                                alt="The Travel Square">
                        </a>
                    </h1><br>

                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
                            <li><a href="http://thetravelsquare.in/flight"><img height="47" width="48"
                                        src="/images/flights-icon.png"></a></li>
                            <li><a href="http://thetravelsquare.in/hotel"><img height="47" width="48"
                                        src="/images/hotels-icon.png"></a></li>
                            <li><a href="http://thetravelsquare.in/holidays"><img height="47" width="48"
                                        src="/images/holidays-icon.png"></a></li>
                            <li><a href="http://thetravelsquare.in/cabs"><img height="47" width="48"
                                        src="/images/cabs-icon.png"></a></li>
                            <li><a href="http://thetravelsquare.in/experiences"><img height="47" width="48"
                                        src="/images/experiences-icon.png"></a> </li>
                            <li><a href="http://thetravelsquare.in/visa"><img height="47" width="48"
                                        src="/images/visa-icon.png"></a></li>
                            <li><a href="http://thetravelsquare.in/buses"><img height="47" width="48"
                                        src="/images/buses-icon.png"></a></li>

                        </ul>
                    </nav>
                </div>

                <nav id="mobile-menu-01" class="mobile-menu collapse">

                    <br>
                    <center>
                        <button class="button white uppercase animated" data-animation-type="tada" data-toggle="modal"
                            data-target="#customerlogin">
                            <b><big><img src="images/login-icon.png" height="18" width="18">&nbsp; &nbsp; <font
                                        color="black">Login / Sign Up </font></big></b></button>

                        <button class="button white uppercase animated" data-animation-type="tada" data-toggle="modal"
                            data-target="#customerlogin">
                            <b><big><img src="images/dashboard-icon.png" height="18" width="18">&nbsp; &nbsp; <font
                                        color="black">Dashboard </font></big></b></button>
                    </center>

                    <ul id="mobile-primary-menu" class="menu">

                        <li><a href="http://thetravelsquare.in/flight">Flight</a> </li>
                        <li><a href="http://thetravelsquare.in/hotel">Hotel</a> </li>
                        <li><a href="http://thetravelsquare.in/holidays">Holiday</a> </li>
                        <li><a href="http://thetravelsquare.in/cabs">Cabs & Transfer</a> </li>
                        <li><a href="http://thetravelsquare.in/experiences">Experiences & Activities</a> </li>
                        <li><a href="http://thetravelsquare.in/events">Events & Shows</a> </li>
                        <li><a href="http://thetravelsquare.in/visa">Visa</a> </li>
                        <li><a href="http://thetravelsquare.in/buses">Bus</a> </li>
                        <li><a href="http://thetravelsquare.in/forex">Forex</a> </li>
                    </ul>
                    <br>
                    <ul class="mobile-topnav container">

                        <button class="button full-width white uppercase animated" data-animation-type="tada"
                            data-toggle="modal" data-target="#customerlogin">
                            <b><big><img height="35" width="35" src="images/travel-cart.png">&nbsp; &nbsp; <font
                                        color="black">Travel Cart</font></big></b></button>
                        <br>

                    </ul>
                </nav>
            </div>
        </header>

        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Press Release | The Travel Square</h2>
                </div>
               
            </div>
        </div>

        <section id="content">
            <div class="container">
                <div class="row">
                    <div id="main" class="col-sm-8 col-md-9">
                        <div class="page">
                            
                            <div class="post-content">
                                <div class="blog-infinite">
                                    <div class="post">
                                        <div class="post-content-wrapper">
                                            <figure class="image-container">
                                                <a href="" class="hover-effect"><img src="images/the-travel-square-Awarded-Innovative-Icon-Startup-By-Skyline-College.jpeg" alt=""></a>
                                            </figure>
                                            <div class="details">
                                                <h2 class="entry-title"><a href="">Innovation Icon | Skyline College </a></h2>
                                                <div class="excerpt-container">
                                                    <p>The Travel square Was Awarded The Startup Innovation Icon Titte By Skyline College of Engineering & Technology on the Occasion of Its
													Annual Fest For Technical Startups & Upcomming Ideas on 3rd of May at Skyline College Greater Noida . The Award Was Given By The Chairman 
													and Senior Technical Faculties of the College Recieved By the Managing Director Mr.Vibhu Gupta and Operation Head Mr. Ishan Waghraje on 
													the Behalf of the Company</p> 
												</div>
												<div class="entry-date">
                                                        <label class="date">3</label>
                                                        <label class="month">May</label>
                                                    </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <a href="" class="button btn-large full-width">LOAD MORE RELEASE</a>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar col-sm-4 col-md-3">
                        
                        <div class="travelo-box">
                            <h5 class="box-title">Travel Beans</h5>
                            <p>The Travel Square is a Network of 10000+ Travel Suppliers , DMC & Hotel Chains Inspiring the World to Travel In
							Style With Luxury at Affordabe Pricing .</p>
                        </div>
                        
                        
                        <div class="travelo-box twitter-box">
                            <h4 class="box-title">Twitter Feeds</h4>
                            <div class="twitter-holder">
                                <ul>
                                    <li class="tweet">
                                        <p class="tweet-text">
                                            <a href="https://twitter.com/signaturemember">@signaturemember</a>, Signature Club Launches a Lucerative Membership Deal Worth 21,000/- With 7 Nights Worldwide Luxury Stay at 5 Star Properties.
                                        </p>
                                        <a class="tweet-date" Target="_blank" href="https://twitter.com/signaturemember">5 Minutes ago</a>
                                    </li>
                                    <li class="tweet">
                                        <p class="tweet-text">
                                            Join India's Largest B2B Platform , The Travel Square For Best B2B Travel Rates.
                                            <a href="http://www.thetravelsquare.in/" Target="_blank" >www.thetravelsquare.in</a>
                                        </p>
                                        <a class="tweet-date" href="https://twitter.com/travelsquare_">1 Day ago</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        
        {% include '/hotel/components/footer.html' %}

    </div>
   


    <!-- Javascript -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-1.11.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.noconflict.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/modernizr.2.7.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-migrate-1.2.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.placeholder.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-ui.1.10.4.min.js.download"></script>
    
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/bootstrap.js.download"></script>

    <!-- Google Map Api -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/js"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/gmap3.min.js.download"></script>
    
    <!-- parallax -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.stellar.min.js.download"></script>
    
    <!-- waypoint -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/waypoints.min.js.download"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/theme-scripts.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/scripts.js.download"></script>

    <script type="text/javascript">
        tjq(".travelo-google-map").gmap3({
            map: {
                options: {
                    center: [48.85661, 2.35222],
                    zoom: 12
                }
            },
            marker:{
                values: [
                    {latLng:[48.85661, 2.35222], data:"Paris"}

                ],
                options: {
                    draggable: false
                },
            }
        });
    </script>



</body></html>

