
<!DOCTYPE html>
<html class=" js flexbox canvas canvastext webgl touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Page Title -->
    <title>Booking Confirmation | The Travel Square</title>
    
    <!-- Meta Tags -->
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Travel Beans">
    <meta name="description" content="">
    <meta name="distribution" content="global">
    <meta name="country" content="india">
    <meta name="copyright" content="The Travel Square">
    <meta name="revisit-after" content="1 hour">
    <meta name="designer" content="The Travel Square">
    <meta name="language" content="english">
    <meta name="robots" content="index, follow">
    <meta name="rating" content="general">
    <meta name="publisher" content="The Travel Square">

    <meta property="og:title" content="The Travel Square">
    <meta property="og:description" content="The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
    <meta property="og:image" content="">
  
    <meta name="twitter:card" content="The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
  
    <meta name="keywords" content="The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
    <meta name="format-detection" content="7428558566">
    
	
	<link rel="shortcut icon" href="" type="image/x-icon">
    
    <!-- Theme Styles -->
    <link rel="stylesheet" href="files/bootstrap.min.css">
    <link rel="stylesheet" href="files/font-awesome.min.css">
    <link href="files/css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="files/animate.min.css">
    
    <!-- Main Style -->
    <!--<link id="main-style" rel="stylesheet" href="css/style.css">-->
    <script type="text/javascript">
        var mainStyle = "style.css";
        if (typeof localStorage != "undefined") {
            var colorSkin = localStorage.getItem("colorSkin");
            if (colorSkin != null) {
                mainStyle = "style-" + colorSkin + ".css";
            }
        }
        document.write('<link id="main-style" rel="stylesheet" href="css/' + mainStyle + '">');
    </script><link id="main-style" rel="stylesheet" href="files/style-light-yellow.css">
    
    <!-- Updated Styles -->
    <link rel="stylesheet" href="files/updates.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="files/custom.css">
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="files/responsive.css">
    
    
</head>
<body>
    <div id="page-wrapper">
       
	   <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">
                        <li><a href="http://www.thetravelsqaure.in/customer-care"><b>Customer Care</b></a></li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li><a href="" data-toggle="modal" data-target="#customerlogin" class="button white btn-small" style="height: 30px; font-size: 1em;">
						<font color="black">SIGN UP / LOGIN</font></a></li>
                        <li><a href="http://www.thetravelsquare.in/booking-cart"><b><big>Cart</big></b></a></li>
                        
                    </ul>
                </div>
            </div>
            
            <div class="main-header">
                
                <a href="http://www.soaptheme.net/html/travelo/dashboard1.html#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
                    Menu
                </a>

                <div class="container">
                    <h1 class="navbar-brand" style="height: 0%; ">
                        <a href="http://www.thetravelsqaure.com" title="The Travel Sqaure">
                            <img src="images/the-travel-square-india-logo.png" alt="The Travel Sqaure">
                        </a>
                    </h1><br>
                    
                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
							<li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/index"><b>Holidays</b></a>
                                
                            </li>
                            <li class="menu-item-has-children active">
                                <a href="http://www.thetravelsquare.in/hotels"><b><big>Hotels</big></b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/flights"><b>Flights</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/experiences"><b>Experiences</b></a>
                                
                            </li>
                           <li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/cabs"><b>Cabs</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/visa"><b>Visa</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/visa"><b>Buses</b></a>
                                
                            </li>
                           
                            
                        </ul>
                    </nav>
                </div>
                
                <nav id="mobile-menu-01" class="mobile-menu collapse">
                    <ul id="mobile-primary-menu" class="menu">
                        <li class="menu-item-has-children active">
                                <a href="http://www.thetravelsquare.in/index"><b>Holidays</b></a>
                                
                            </li>
                            <li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/hotels"><b>Hotels</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/flights"><b>Flights</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/experiences"><b>Experiences</b></a>
                                
                            </li>
                           <li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/cabs"><b>Cabs</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/visa"><b>Visa</b></a>
                                
                            </li>
                           
                        
                            
                        
                        
                    </ul>
                    
                    
                    
                </nav>
				
				
            </div>
			
           
        </header>

        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Booking Confirmation </h2>
                </div>
                
            </div>
        </div>

       <section id="content" class="gray-area">
            <div class="container">
                <div class="row">
                    <div id="main" class="col-sm-8 col-md-9">
                        <div class="booking-information travelo-box">
                            <h2>Booking Confirmed</h2>
                            <hr>
                            <div class="booking-confirmation clearfix">
                                <i class="soap-icon-recommend icon circle"></i>
                                <div class="message">
                                    <h4 class="main-message">Thank You. Your Booking is Confirmed With Us . </h4>
                                    <p>Your e-Ticket is attached with the email sent to your email-Id , Or You Can Download Here</p><br>
                                </div>
                                <a href="" class="button btn-small print-button uppercase">Download Voucher</a>
                            </div>
                            <hr>
                            <h2>Traveler's Information</h2>
                            <dl class="term-description">
								<dt>First name:</dt><dd>Prashant</dd>
                                <dt>Last name:</dt><dd>Sharma</dd>
                                <dt>E-mail address:</dt><dd>xx@gmail.com</dd>
                                <dt>Contact number:</dt><dd>+91-8700571934</dd>
                                <dt>Enquiry number:</dt><dd>TS306BFD</dd>
								<dt>Booking number:</dt><dd>BTS89BFD</dd>
								<dt>Reservation number:</dt><dd>76838</dd>
								<dt>Confirmation number:</dt><dd>11245</dd>
                                
                               
                            </dl>
							<h4 class="main-message">View Booking In App</h4>
									<p><a href="" class="red-color underline view-link">Click Here</a></p>
                            <hr>
							<h4>Try The Travel Square | Inhouse Service</h4>
							<p>The Travel Square Doesn't Belives That It Work Ends Here After Booking , We Bring You the Facility to Book Any Service at The Property From The Travel Square App , at Discounted Prices. <a href="" class="red-color underline view-link">Download Here</a></p>
                            
                        </div>
                    </div>
                    
					<div class="sidebar col-sm-4 col-md-3">
						
						 <article class="detailed-logo">
                            <figure>
                                <img width="114" height="85" src="http://www.grazia.co.in/media/content/2017/jan/spa-treatment-room-the-lodhi_gallery_large_1489487196.jpg" alt="">
                            </figure>
                            <div class="details">
                                <h2 class="box-title">The Lodhi Hotel<small><span class="fourty-space">New Delhi</span></small></h2><br>
								<h4>Deluxe Rooms Without Plunge Pool</h4>
								<div class="constant-column-3 timing clearfix">
                                        <div class="check-in">
                                            <label>Check in</label>
                                            <span>NOV 30<br />11 AM</span>
                                        </div>
                                        <div class="duration text-center"><br>
                                            <span>2 Nights</span>
                                        </div>
                                        <div class="check-out">
                                            <label>Check out</label>
                                            <span>DEC 02<br />2 PM</span>
                                        </div>
                                    </div>
									<hr>
									<div class="guest">
										<small class="uppercase">Rooms &nbsp;<span class="skin-color">2</span></small> ,
                                        <small class="uppercase">Adults &nbsp;<span class="skin-color">2</span></small> ,
										<small class="uppercase">Kids &nbsp;<span class="skin-color">1 </span></small>
                                    </div>
									<hr>
									<span class="price clearfix">
                                    <small class="pull-left">Booking Amount</small>
                                    <span class="pull-right">₹10,620</span>
									</span>
                            </div>
                        </article>
						
						



						
                        
                    </div>
					
                </div>
            </div>
        </section>
        
       <footer id="footer" class="style5">
            <div class="footer-wrapper">
                <div class="container">
                    <div class="row">
                       
						
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>The Travel Square</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/about">About Company</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/jobs.html">Jobs & Carreers</a></li>
								<li class="col-xs-6"><a href="http://www.thetravelsquare.in/about">Corporate Offices</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/legal.html">Legal Information</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/press.html">Press Release</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/legal.html">T & C</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/customer-care.html">Customer Care</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/legal.html">Privacy Policies</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/partner-Care.html">Partner Help</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/faq.html">FAQ's</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/site-map.html">Site Map</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/contact-Us.html">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>More of us !</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-"><a href="http://www.thetravelsquare.in/pro">Travel Square Business</a></li>
                                <li class="col-xs-"><a href="http://www.signatureclubmembership.com/">Signature Club</a></li>
                                <li class="col-xs-"><a href="http://www.cruisader.com/">Cruisader</a></li>
                                <li class="col-xs-"><a href="http://www.cruisingindia.in/">Cruising India</a></li>
                                <li class="col-xs-"><a href="http://www.happenings.ind.in/">Happenings</a></li>
                                <li class="col-xs-"><a href="http://www.shoppist.in/">Shoppist</a></li>
                                
                            </ul>
                        </div><hr>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>About Us</h2>
                            <p>The Travel Square is a Network of 10000+ Travel Suppliers , DMC & Hotel Chains Inspiring the World to Travel In Style With Luxury at Affordabe Pricing . </p>
                            <br>
                            <ul class="social-icons clearfix">
                                <li class="twitter"><a title="Join Us on Twitter" href="https://twitter.com/travelsquare_" data-toggle="tooltip"  Target="_blank" data-original-title="twitter"><i class="soap-icon-twitter"></i></a></li>
                                <li class="facebook"><a title="Join Us on Facebook" href="https://www.facebook.com/thetravelsquare/" Target="_blank" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-facebook"></i></a></li>
                                <li class="linkedin"><a title="Join Us on Linked In" href="https://www.linkedin.com/company/thetravelsquare" Target="_blank" data-toggle="tooltip" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                <li class="vimeo"><a title="Join Us on Instagram" href="https://www.instagram.com/The_Travel_Square/" data-toggle="tooltip" Target="_blank" data-original-title="vimeo"><i class="soap-icon-instagram"></i></a></li>
                                <li class="dribble"><a title="Join Us on Youtube" href="https://www.youtube.com/channel/UCqi_w8JlO-1VEmVUItvr8og" Target="_blank" data-toggle="tooltip" data-original-title="dribble"><i class="soap-icon-youtube"></i></a></li>
 
                            </ul><br>
                        </div><center>
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<br>
                            <img src="images/the-travel-square-logo-200x200.png">
                        </div></center>
                    </div>
					<center><br><br><br>
					<a href="https://play.google.com/store?hl=en"><img src="images/the-travel-square-google-playstore.png" height="60" width="300">
					<a href="https://www.apple.com/in/"><img src="images/the-travel-square-apple-store-ios.png" height="60" width="300">
					</center><br>
                </div>
				
			<center>
			<a href="https://www.paypal.com/in/home"><img src="images/the-travel-square-visa-debit-credit-card.png" height="70" width="350">
			<a href="https://www.payumoney.com/"><img src="images/the-travel-square-payu-paypal.png" height="70" width="300">
			</center><br>
            </div>
			
			
            <div class="bottom gray-area">
                <div class="container">
                    
                    <div class="pull-right">
                        <a id="back-to-top" href="" class="animated bounce" data-animation-type="bounce" style="animation-duration: 1s; visibility: visible;"><i class="soap-icon-longarrow-up circle"></i></a>
                    </div>
                    <div class="copyright pull-right">
                        <p>© 2019 Copyright | The Travel Square</p>
                    </div>
                </div>
            </div>
        </footer>
	   
    </div>
    


    <!-- Javascript -->
    <script type="text/javascript" src="files/jquery-1.11.1.min.js.download"></script>
    <script type="text/javascript" src="files/jquery.noconflict.js.download"></script>
    <script type="text/javascript" src="files/modernizr.2.7.1.min.js.download"></script>
    <script type="text/javascript" src="files/jquery-migrate-1.2.1.min.js.download"></script>
    <script type="text/javascript" src="files/jquery.placeholder.js.download"></script>
    <script type="text/javascript" src="files/jquery-ui.1.10.4.min.js.download"></script>
    
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="files/bootstrap.js.download"></script>
    
    <!-- parallax -->
    <script type="text/javascript" src="files/jquery.stellar.min.js.download"></script>
    
    <!-- waypoint -->
    <script type="text/javascript" src="files/waypoints.min.js.download"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="files/theme-scripts.js.download"></script>
    <script type="text/javascript" src="files/scripts.js.download"></script>
    



</body></html>