<!DOCTYPE html>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Page Title -->
<title>Customer Dashboard | The Travel Square | India's Largest Travel Community</title>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="The Travel Square">
<meta name="description"
    content="India's Largest & Fastest Growing Travel Community . The Travel Square is a Network of 10000+ Travel Suppliers , DMC & Hotel Chains & Travellers Inspiring the World to Travel In Style With Luxury at Affordabe Pricing . The Travel Square Allows its Customers to Build The Most Customizable and Comfortable Holiday Package They Desire , Hassle Free After Comparision , Without Interence of Any Agency or Third Party . It Also Gives Free Credits & No-Cost EMI Travel Plans for Its Customers to Book , With Good Management of Their Budgets.">
<meta name="distribution" content="global">
<meta name="country" content="india">
<meta name="copyright" content="The Travel Square">
<meta name="revisit-after" content="1 hour">
<meta name="designer" content="The Travel Square">
<meta name="language" content="english">
<meta name="robots" content="index, follow">
<meta name="rating" content="general">
<meta name="publisher" content="The Travel Square">

<meta property="og:title" content="The Travel Square">
<meta property="og:description"
    content="India's Largest & Fastest Growing Travel Community . The Travel Square is a Network of 10000+ Travel Suppliers , DMC & Hotel Chains & Travellers Inspiring the World to Travel In Style With Luxury at Affordabe Pricing . The Travel Square Allows its Customers to Build The Most Customizable and Comfortable Holiday Package They Desire , Hassle Free After Comparision , Without Interence of Any Agency or Third Party . It Also Gives Free Credits & No-Cost EMI Travel Plans for Its Customers to Book , With Good Management of Their Budgets.">

<meta property="og:image" content="http://www.thetravelsquare/the-travel-square-logo-thumbnail.png">
<meta property="og:url" content="http://www.thetravelsquare.in/">

<meta name="twitter:card"
    content="India's Largest & Fastest Growing Travel Community . The Travel Square is a Network of 10000+ Travel Suppliers , DMC & Hotel Chains & Travellers Inspiring the World to Travel In Style With Luxury at Affordabe Pricing . The Travel Square Allows its Customers to Build The Most Customizable and Comfortable Holiday Package They Desire , Hassle Free After Comparision , Without Interence of Any Agency or Third Party . It Also Gives Free Credits & No-Cost EMI Travel Plans for Its Customers to Book , With Good Management of Their Budgets.">

<meta name="keywords"
    content="travel in india ,travel packages , dubai packages , holiday packages , travel, the travel square, hotels, flights, India's Largest Travel Community">
<meta name="format-detection" content="7428558566">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<!-- Theme Styles -->
<link rel="stylesheet" href="files/bootstrap.min.css">
<link rel="stylesheet" href="files/font-awesome.min(1).css">
<link href="files/css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="files/animate.min.css">

<!-- Current Page Styles -->
<link rel="stylesheet" type="text/css" href="files/settings.css" media="screen">
<link rel="stylesheet" type="text/css" href="files/style.css" media="screen">
<link rel="stylesheet" type="text/css" href="files/jquery.bxslider.css" media="screen">
<link rel="stylesheet" type="text/css" href="files/flexslider.css" media="screen">

<!-- Main Style -->
<!--<link id="main-style" rel="stylesheet" href="css/style.css">-->
<script type="text/javascript">
    var mainStyle = "style.css";
    if (typeof localStorage != "undefined") {
        var colorSkin = localStorage.getItem("colorSkin");
        if (colorSkin != null) {
            mainStyle = "style-" + colorSkin + ".css";
        }
    }
    document.write('<link id="main-style" rel="stylesheet" href="css/' + mainStyle + '">');
</script>
<link id="main-style" rel="stylesheet" href="files/style(1).css">
<link id="main-style" rel="stylesheet" href="files/style-light-yellow.css">

<!-- Updated Styles -->
<link rel="stylesheet" href="files/updates.css">

<!-- Custom Styles -->
<link rel="stylesheet" href="files/custom.css">

<!-- Responsive Styles -->
<link rel="stylesheet" href="files/responsive.css">

<style>
    .responsive {
        width: 100%;
        max-width: 1200px;
        height: 530;
    }
</style>

<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
    }
</style>



</head>

<body>

    <div id="page-wrapper">
        <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">

                        <li><a href="http://www.thetravelsquare.in/customer-care"><img height="20" width="20"
                                    src="images/dashboard/24-7-customer-support-the-travel-square-icon.png">&nbsp;&nbsp;<b>Customer
                                    Support</b></a></li>
                        <li><a href="http://www.thetravelsquare.in/enquiry"><img height="20" width="17"
                                    src="images/dashboard/travel-expert-the-travel-square-icon.png">&nbsp;&nbsp;<b>Travel
                                    Expert</b></a></li>

                        <li><a href="http://www.thetravelsquare.in/holidays">
                                <font color="black"><a class="button white btn-small uppercase"
                                        style="height: 30px; font-size: 1em; color:black">
                                        <img height="25" width="25"
                                            src="images/holiday_ballon.png">&nbsp;&nbsp;<b>Customize Holiday</b></a>
                                </font>
                            </a></li>
                        <li><a href="http://thetravelsquare.in/offers-and-deals"><img height="18" width="20"
                                    src="images/dashboard/offer-and-deal-the-travel-square-icon.png">&nbsp;&nbsp;<b>Best
                                    Offers & Deals</b></a></li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li><a href="http://www.thetravelsquare.in/customer-care"><img height="17" width="12"
                                    src="images/dashboard/toll-free-the-travel-square-icon.png">&nbsp;
                                <b>+91-7428558566</b></a></li>
                        <li class="ribbon">
                            <a href="http://www.thetravelsquare.in/login.php">
                                <font color="black"><a class="button white btn-small uppercase"
                                        style="height: 30px; font-size: 1em; color:black"><img
                                            src="images/login-icon.png" height="18" width="18">&nbsp; &nbsp; Login /
                                        Sign Up</a></font>
                            </a>

                            <ul class="menu mini uppercase">
                                <li><a href="http://www.thetravelsquare.in/dashboard">Dashboard</a></li>
                                <li><a href="http://www.thetravelsquare.in/logout.php">Log Out</a></li>
                            </ul>
                        </li>
                        <li><a href="http://business.thetravelsquare.in/booking-cart"><img height="27" width="30"
                                    src="http://thetravelsquare.in/images/cart-image.png"></a></li>

                    </ul>
                </div>
            </div>

            <div class="main-header">

                <a href="http://partner.thetravelsquare.in/#mobile-menu-01" data-toggle="collapse"
                    class="mobile-menu-toggle">
                    Mobile Menu Toggle
                </a>

                <div class="container">
                    <h1 class="navbar-brand" style="height:20%">
                        <a href="http://partner.thetravelsquare.in/dashboard" title="The Travel Square">
                            <img src="http://www.thetravelsquare.in/images/the-travel-square-india-logo.png"
                                alt="The Travel Square">
                        </a>
                    </h1><br>

                    <nav id="main-menu" role="navigation">
                             <ul class="menu">
                                <li><a href="http://thetravelsquare.in/flight"><img height="47" width="48"
                                            src="/images/flights-icon.png"></a></li>
                                <li><a href="http://thetravelsquare.in/hotel"><img height="47" width="48"
                                            src="/images/hotels-icon.png"></a></li>
                                <li><a href="http://thetravelsquare.in/holidays"><img height="47" width="48"
                                            src="/images/holidays-icon.png"></a></li>
                                <li><a href="http://thetravelsquare.in/cabs"><img height="47" width="48"
                                            src="/images/cabs-icon.png"></a></li>
                                <li><a href="http://thetravelsquare.in/experiences"><img height="47" width="48"
                                            src="/images/experiences-icon.png"></a> </li>
                                <li><a href="http://thetravelsquare.in/visa"><img height="47" width="48"
                                            src="/images/visa-icon.png"></a></li>
                                <li><a href="http://thetravelsquare.in/buses"><img height="47" width="48"
                                            src="/images/buses-icon.png"></a></li>
    
                            </ul>
                        </nav>
                </div>

                <nav id="mobile-menu-01" class="mobile-menu collapse">

                    <br>
                    <center>
                        <button class="button white uppercase animated" data-animation-type="tada" data-toggle="modal"
                            data-target="#customerlogin">
                            <b><big><img src="images/login-icon.png" height="18" width="18">&nbsp; &nbsp; <font
                                        color="black">Login / Sign Up </font></big></b></button>

                        <button class="button white uppercase animated" data-animation-type="tada" data-toggle="modal"
                            data-target="#customerlogin">
                            <b><big><img src="images/dashboard-icon.png" height="18" width="18">&nbsp; &nbsp; <font
                                        color="black">Dashboard </font></big></b></button>
                    </center>

                    <ul id="mobile-primary-menu" class="menu">

                        <li><a href="http://thetravelsquare.in/flight">Flight</a> </li>
                        <li><a href="http://thetravelsquare.in/hotel">Hotel</a> </li>
                        <li><a href="http://thetravelsquare.in/holidays">Holiday</a> </li>
                        <li><a href="http://thetravelsquare.in/cabs">Cabs & Transfer</a> </li>
                        <li><a href="http://thetravelsquare.in/experiences">Experiences & Activities</a> </li>
                        <li><a href="http://thetravelsquare.in/events">Events & Shows</a> </li>
                        <li><a href="http://thetravelsquare.in/visa">Visa</a> </li>
                        <li><a href="http://thetravelsquare.in/buses">Bus</a> </li>
                        <li><a href="http://thetravelsquare.in/forex">Forex</a> </li>
                    </ul>
                    <br>
                    <ul class="mobile-topnav container">

                        <button class="button full-width white uppercase animated" data-animation-type="tada"
                            data-toggle="modal" data-target="#customerlogin">
                            <b><big><img height="35" width="35" src="images/travel-cart.png">&nbsp; &nbsp; <font
                                        color="black">Travel Cart</font></big></b></button>
                        <br>

                    </ul>
                </nav>
            </div>
        </header>
    </div>


    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Customer Dashboard</h2>
            </div>

        </div>
    </div>
    <section id="content">
        <div id="main">
            <div class="tab-container full-width-style arrow-left dashboard">
                <ul class="tabs">

                    <li class="active"><a data-toggle="tab" href="http://partner.thetravelsquare.in/#offers"
                            aria-expanded="true"><i class="fa fa-magic"></i>Offers</a></li>
                    <li class=""><a data-toggle="tab" href="http://partner.thetravelsquare.in/#cart"
                            aria-expanded="false"><i class="fa fa-circle"></i>Cart</a></li>
                    <li class=""><a data-toggle="tab" href="http://partner.thetravelsquare.in/#plans"
                            aria-expanded="false"><i class="fa fa-list"></i>Plans</a></li>
                    <li class=""><a data-toggle="tab" href="http://partner.thetravelsquare.in/#booking"
                            aria-expanded="false"><i class="fa fa-bookmark"></i>Bookings</a></li>

                    <li class=""><a data-toggle="tab" href="http://partner.thetravelsquare.in/#profile"><i
                                class="fa fa-user"></i>Profile</a></li>
                </ul>
                <div class="tab-content">

                    <div id="offers" class="tab-pane fade active in">
                        <h2>The Travel Square | Personalised Best Deals & Offers For You </h2><br>


                        <div class="row image-box listing-style2">
                            <div class="col-sm-6 col-md-4">
                                <article class="box">
                                    <figure>
                                        <a class="hover-effect" title="" href="http://partner.thetravelsquare.in/"><img
                                                width="300" height="161" alt=""
                                                src="images/dashboard/The Travel Square Dubai.png"></a>
                                    </figure>
                                    <center><br>
                                        <div class="details">

                                            <h4 class="box-title">Majestic Dubai Starting @ ₹17,000</h4>

                                        </div>
                                    </center>
                                </article>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <article class="box">
                                    <figure>
                                        <a class="hover-effect" title="" href="http://partner.thetravelsquare.in/"><img
                                                width="300" height="161" alt=""
                                                src="images/dashboard/The Travel Square Phuket & Krbai.png"></a>
                                    </figure>
                                    <center><br>
                                        <div class="details">

                                            <h4 class="box-title">Exotic Phuket & Krabi Starting @ ₹14,999</h4>

                                        </div>
                                    </center>
                                </article>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <article class="box">
                                    <figure>
                                        <a class="hover-effect" title="" href="http://partner.thetravelsquare.in/"><img
                                                width="300" height="161" alt=""
                                                src="images/dashboard/The Travel  Square Bali.png"></a>
                                    </figure>
                                    <center><br>
                                        <div class="details">

                                            <h4 class="box-title">Exclusive Bali Starting @ ₹9,999</h4>

                                        </div>
                                    </center>
                                </article>
                            </div>
                        </div>
                        <div class="row image-box listing-style2">

                            <div class="col-sm-6 col-md-4">
                                <article class="box">
                                    <figure>
                                        <a class="hover-effect" title="" href="http://partner.thetravelsquare.in/"><img
                                                width="300" height="161" alt=""
                                                src="images/dashboard/the-travel-square-offers-and-discountes-deals (6).jpg"></a>
                                    </figure>
                                    <center><br>
                                        <div class="details">

                                            <h4 class="box-title">Book Now , Pay With 30 Days - Learn More</h4>

                                        </div>
                                    </center>
                                </article>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <article class="box">
                                    <figure>
                                        <a class="hover-effect" title="" href="http://partner.thetravelsquare.in/"><img
                                                width="300" height="161" alt=""
                                                src="images/dashboard/the-travel-square-offers-and-discountes-deals (1).png"></a>
                                    </figure>
                                    <center><br>
                                        <div class="details">

                                            <h4 class="box-title">Get Pro Version - Work on Credit</h4>

                                        </div>
                                    </center>
                                </article>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <article class="box">
                                    <figure>
                                        <a class="hover-effect" title="" href="http://partner.thetravelsquare.in/"><img
                                                width="300" height="161" alt=""
                                                src="images/dashboard/the-travel-square-offers-and-discountes-deals (5).jpg"></a>
                                    </figure>
                                    <center><br>
                                        <div class="details">

                                            <h4 class="box-title">Lock Your Fares at Discount Now Pay Later</h4>

                                        </div>
                                    </center>
                                </article>
                            </div>
                        </div>
                    </div>


                    <div id="cart" class="tab-pane fade">
                        <h2 class="no-margin skin-color">Hello Vibhu Gupta, This is your cart !</h2>

                        <a href="http://www.thetravelsquare.in/packages"><img class="responsive"
                                src="images/dashboard/the-travel-square-empty-cart.png" class="responsive" height="530"
                                width="1250"></a>

                    </div>


                    <div id="plans" class="tab-pane fade">
                        <h2 class="no-margin skin-color">Customize & Plan Your Holiday Here !</h2>

                        <a href="http://www.thetravelsquare.in/packages"><img class="responsive"
                                src="images/dashboard/the-travel-square-empty-plan.png" class="responsive" height="530"
                                width="1250"></a>
                    </div>


                    <div id="booking" class="tab-pane fade">
                        <h2>Your Trips & Bookings</h2>

                        <div class="booking-history">
                            <div class="booking-info clearfix">
                                <div class="date">
                                    <label class="month">2019-06-29</label>
                                    <label class="fa fa-calendar-alt red-color" style="font-size: 42px;"></label>
                                    <label class="date"><i class="fa fa-calendar"></i></label>
                                    <label class="day">WED</label>
                                </div>
                                <h4 class="box-title"><i
                                        class="fa fa-clipboard icon  takeoff-effect yellow-color circle"></i>The
                                    Leela<span>, New Delhi</span><small>Adnan Siddique</small></h4>
                                <dl class="info">
                                    <button class="btn-mini status">SUCCESS</button>
                                </dl>

                            </div>







                            <div class="booking-info clearfix">
                                <div class="date">
                                    <label class="month">2019-08-12</label>
                                    <label class="fa fa-calendar-alt red-color" style="font-size: 42px;"></label>
                                    <label class="date"><i class="fa fa-calendar"></i></label>
                                    <label class="day">SUN</label>
                                </div>
                                <h4 class="box-title"><i
                                        class="fa fa-clipboard icon  takeoff-effect yellow-color circle"></i>Hotel Royal
                                    Plaza<span>, New Delhi</span><small>Aditya Sharma</small></h4>
                                <dl class="info">
                                    <button class="btn-mini status">SUCCESS</button>
                                </dl>

                            </div>

                            <div class="booking-info clearfix">
                                <div class="date">
                                    <label class="month">2019-10-19</label>
                                    <label class="fa fa-calendar-alt red-color" style="font-size: 42px;"></label>
                                    <label class="date"><i class="fa fa-calendar"></i></label>
                                    <label class="day">FRI</label>
                                </div>
                                <h4 class="box-title"><i
                                        class="fa fa-clipboard icon  takeoff-effect yellow-color circle"></i>Hotel
                                    Taj<span>, Mumbai</span><small>Akshay Sharma</small></h4>
                                <dl class="info">
                                    <button class="btn-mini status">SUCCESS</button>
                                </dl>

                            </div>


                        </div>

                    </div>


                    <div id="profile" class="tab-pane fade">
                        <center>
                            <h1 class="no-margin skin-color">Hello Vibhu Gupta, This is Your Profile</h1>
                        </center><br>

                        <br>
                        <div class="view-profile">

                            <div class="details">



                                <h2 class="box-title fullname">Personal Details </h2><br>
                                <dl class="term-description">
                                    <dt>Name:</dt>
                                    <dd>Vibhu Gupta</dd>
                                    <dt>Date of birth:</dt>
                                    <dd></dd>
                                    <dt>Gender:</dt>
                                    <dd></dd>
                                    <dt>City:</dt>
                                    <dd></dd>
                                    <dt>E-mail:</dt><br>
                                    <dd>myworkspacevibhu@gmail.com</dd>
                                    <dt>Contact Number:</dt>
                                    <dd>8700571934</dd>
                                </dl><br>

                                <a href="http://partner.thetravelsquare.in/change-password.php"
                                    class="button btn-mini pull-left">CHANGE PASSWORD</a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer" class="style5">

        <div class="bottom">
            <div class="container">

                <div class="pull-right">
                    <a id="back-to-top" href="http://partner.thetravelsquare.in/" class="animated bounce"
                        data-animation-type="bounce" style="animation-duration: 1s; visibility: visible;"><i
                            class="soap-icon-longarrow-up circle"></i></a>
                </div>
                <div class="copyright pull-left">
                    <p>© 2019 Partners | The Travel Square</p>
                </div>
            </div>
        </div>
    </footer>





    <!-- Javascript -->
    <script type="text/javascript" src="files/jquery-1.11.1.min.js.download"></script>
    <script type="text/javascript" src="files/jquery.noconflict.js.download"></script>
    <script type="text/javascript" src="files/modernizr.2.7.1.min.js.download"></script>
    <script type="text/javascript" src="files/jquery-migrate-1.2.1.min.js.download"></script>
    <script type="text/javascript" src="files/jquery.placeholder.js.download"></script>
    <script type="text/javascript" src="files/jquery-ui.1.10.4.min.js.download"></script>

    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="files/bootstrap.js.download"></script>

    <!-- parallax -->
    <script type="text/javascript" src="files/jquery.stellar.min.js.download"></script>

    <!-- waypoint -->
    <script type="text/javascript" src="files/waypoints.min.js.download"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="files/theme-scripts.js.download"></script>
    <script type="text/javascript" src="files/scripts.js.download"></script>

    <div class="footer">&nbsp;
        <div class="container">

            <div class="pull-left">
                <h2 class="">
                    <font color="white">Want Experts to Plan Your Trip</font>
                </h2>
            </div>
            <div class="pull-right">
                <a href="http://partner.thetravelsquare.in/join-chat-forum.php"
                    class="button btn-medium white uppercase animated active fadeInRightBig"
                    data-animation-type="fadeInRightBig" style="animation-duration: 1s; visibility: visible;">
                    <font color="black">GET QUOTE</font>
                </a>
            </div>

        </div> <br>
    </div>
    </ul>
    </div>
    </div>
</body>

</html>