    /*
    Flaticon icon font: Flaticon
    Creation date: 25/06/2019 19:29
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-fan:before { content: "\f100"; }
.flaticon-weightlifting:before { content: "\f101"; }
.flaticon-refrigerator:before { content: "\f102"; }
.flaticon-bar:before { content: "\f103"; }
.flaticon-music-player:before { content: "\f104"; }
.flaticon-smoke:before { content: "\f105"; }
.flaticon-sedan-car-front:before { content: "\f106"; }
.flaticon-pawprint:before { content: "\f107"; }
.flaticon-old-telephone-ringing:before { content: "\f108"; }
.flaticon-man-playing-golf:before { content: "\f109"; }
.flaticon-wifi:before { content: "\f10a"; }
.flaticon-television:before { content: "\f10b"; }
.flaticon-swim:before { content: "\f10c"; }
.flaticon-coffee:before { content: "\f10d"; }
.flaticon-meal:before { content: "\f10e"; }
.flaticon-parking:before { content: "\f10f"; }
.flaticon-conference-hall:before { content: "\f110"; }
.flaticon-fireplace:before { content: "\f111"; }
.flaticon-disabled:before { content: "\f112"; }
.flaticon-hot-tub:before { content: "\f113"; }
.flaticon-lift:before { content: "\f114"; }
.flaticon-event:before { content: "\f115"; }
.flaticon-man-knocking-a-door:before { content: "\f116"; }
.flaticon-plate-fork-and-knife:before { content: "\f117"; }
.flaticon-furniture-and-household:before { content: "\f118"; }
.flaticon-vault:before { content: "\f119"; }
.flaticon-hairdryer-silhouette-side-view:before { content: "\f11a"; }
.flaticon-barista:before { content: "\f11b"; }
.flaticon-moisturizer:before { content: "\f11c"; }
.flaticon-nightie:before { content: "\f11d"; }
.flaticon-electric-iron:before { content: "\f11e"; }
.flaticon-scales:before { content: "\f11f"; }
.flaticon-closet:before { content: "\f120"; }
.flaticon-eye:before { content: "\f121"; }
.flaticon-living-room:before { content: "\f122"; }
.flaticon-flip-flops:before { content: "\f123"; }
.flaticon-toiletries:before { content: "\f124"; }
.flaticon-folded-newspaper:before { content: "\f125"; }
.flaticon-towel:before { content: "\f126"; }
.flaticon-popcorn-box:before { content: "\f127"; }
    
    $font-Flaticon-fan: "\f100";
    $font-Flaticon-weightlifting: "\f101";
    $font-Flaticon-refrigerator: "\f102";
    $font-Flaticon-bar: "\f103";
    $font-Flaticon-music-player: "\f104";
    $font-Flaticon-smoke: "\f105";
    $font-Flaticon-sedan-car-front: "\f106";
    $font-Flaticon-pawprint: "\f107";
    $font-Flaticon-old-telephone-ringing: "\f108";
    $font-Flaticon-man-playing-golf: "\f109";
    $font-Flaticon-wifi: "\f10a";
    $font-Flaticon-television: "\f10b";
    $font-Flaticon-swim: "\f10c";
    $font-Flaticon-coffee: "\f10d";
    $font-Flaticon-meal: "\f10e";
    $font-Flaticon-parking: "\f10f";
    $font-Flaticon-conference-hall: "\f110";
    $font-Flaticon-fireplace: "\f111";
    $font-Flaticon-disabled: "\f112";
    $font-Flaticon-hot-tub: "\f113";
    $font-Flaticon-lift: "\f114";
    $font-Flaticon-event: "\f115";
    $font-Flaticon-man-knocking-a-door: "\f116";
    $font-Flaticon-plate-fork-and-knife: "\f117";
    $font-Flaticon-furniture-and-household: "\f118";
    $font-Flaticon-vault: "\f119";
    $font-Flaticon-hairdryer-silhouette-side-view: "\f11a";
    $font-Flaticon-barista: "\f11b";
    $font-Flaticon-moisturizer: "\f11c";
    $font-Flaticon-nightie: "\f11d";
    $font-Flaticon-electric-iron: "\f11e";
    $font-Flaticon-scales: "\f11f";
    $font-Flaticon-closet: "\f120";
    $font-Flaticon-eye: "\f121";
    $font-Flaticon-living-room: "\f122";
    $font-Flaticon-flip-flops: "\f123";
    $font-Flaticon-toiletries: "\f124";
    $font-Flaticon-folded-newspaper: "\f125";
    $font-Flaticon-towel: "\f126";
    $font-Flaticon-popcorn-box: "\f127";