
<!-- <p>You will be redirected to our Homepage Now.</p> --> 

<!DOCTYPE html>
<html ng-app="enquiryApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

     <script src="/enquiry.js"></script>
</head>
<body>
    <div ng-controller="hotelEnqCtrl">
        <p>{{rData}}</p>
        
    </div>

Thank You.<br>
<p>Your enquiry has been submitted.</p>
</body>
</html>