<footer id="footer" class="style5">
    <div class="footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <h2>The Travel Square</h2>
                    <ul class="discover triangle hover row">
                        <li  onclick=about() class="col-xs-6"><a href="#">About Company</a></li>
                        <li onclick=jobs() class="col-xs-6"><a href="#">Jobs & Carreers</a></li>
                        <li onclick=about() class="col-xs-6"><a href="#">Corporate Offices</a></li>
                        <li onclick=legal() class="col-xs-6"><a href="#">Legal Information</a></li>
                        <li onclick=pressRelease() class="col-xs-6"><a href="#">Press Release</a></li>
                        <li onclick=legal() class="col-xs-6"><a href="#">T & C</a></li>
                        <li onclick=customerCare() class="col-xs-6"><a href="">Customer Care</a></li>
                        <li onclick=legal() class="col-xs-6"><a href="/footer_pages/legal.html">Privacy Policies</a></li>
                        <li onclick=partnerCare() class="col-xs-6"><a href="/footer_pages/partner-Care.html">Partner Help</a></li>
                        <!-- <li class="col-xs-6"><a href="/footer_pages/faq.html">FAQ's</a></li>
                        <li class="col-xs-6"><a href="/footer_pages/site-map.html">Site Map</a></li> -->
                        <li onclick=contactUs() class="col-xs-6"><a href="">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <h2>Our Products</h2>
                    <ul class="discover triangle hover row">
                        <li class="col-xs-"><a href="http://www.thetravelsquare.in/pro">Travel Square Business</a></li>
                        <li class="col-xs-"><a href="http://www.signatureclubmembership.com/">Signature Club</a></li>
                        <li class="col-xs-"><a href="http://www.cruisader.com/">Cruisader</a></li>
                        <li class="col-xs-"><a href="http://www.cruisingindia.in/">Cruising India</a></li>
                        <li class="col-xs-"><a href="http://www.happenings.ind.in/">Happenings</a></li>
                        <li class="col-xs-"><a href="http://www.shoppist.in/">Shoppist</a></li>
                        
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <img src="/images/The-Travel-Square-Logo.png">
                    <br>
                    
                    <br>
                    
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <h2>About Us</h2>
                    <p>The Travel Square is a Network of 10000+ Travel Suppliers , DMC & Hotel Chains Inspiring the World to Travel In Style With Luxury at Affordabe Pricing . </p>
                    <br>
                    <ul class="social-icons clearfix">
                        <li class="twitter"><a title="Join Us on Twitter" href="https://twitter.com/travelsquare_" data-toggle="tooltip"  Target="_blank" data-original-title="twitter"><i class="soap-icon-twitter"></i></a></li>
                        <li class="facebook"><a title="Join Us on Facebook" href="https://www.facebook.com/thetravelsquare/" Target="_blank" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-facebook"></i></a></li>
                        <li class="linkedin"><a title="Join Us on Linked In" href="https://www.linkedin.com/company/thetravelsquare" Target="_blank" data-toggle="tooltip" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                        <li class="vimeo"><a title="Join Us on Instagram" href="https://www.instagram.com/The_Travel_Square/" data-toggle="tooltip" Target="_blank" data-original-title="vimeo"><i class="soap-icon-instagram"></i></a></li>
                        <li class="dribble"><a title="Join Us on Youtube" href="https://www.youtube.com/channel/UChlFqPqGQXw06M8ZUn4NsrQ" Target="_blank" data-toggle="tooltip" data-original-title="dribble"><i class="soap-icon-youtube"></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom gray-area">
        <div class="container">
            
            <div class="pull-right">
                <a id="back-to-top" href="" class="animated bounce" data-animation-type="bounce" style="animation-duration: 1s; visibility: visible;"><i class="soap-icon-longarrow-up circle"></i></a>
            </div>
            <div class="copyright pull-right">
                <p>© 2019 The Travel Square</p>
            </div>
        </div>
    </div>
</footer>
<script>
function about(){
    window.open("/about");
}
function jobs(){
    window.open("/jobs");
}
function contactUs(){
    window.open("/contact-us");
}
function legal(){
    window.open("/legal");
}
function pressRelease(){
    window.open("/press-release");
}
function customeCare(){
    window.open("/customer-care");
}
function partnerCare(){
    window.open("/partner-care");
}

</script>
