<!DOCTYPE html>
<html ng-app="comparetravel" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"><!--<![endif]-->
<head>
    <!-- Page Title -->

    <title> The Travel Square </title>
       
    <!-- Meta Tags -->
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="The Travel Square">
    <meta name="description" content="">
    <meta name="distribution" content="global">
    <meta name="country" content="india">
    <meta name="copyright" content="The Travel Square">
    <meta name="revisit-after" content="1 hour">
    <meta name="designer" content="The Travel Square">
    <meta name="language" content="english">
    <meta name="robots" content="index, follow">
    <meta name="rating" content="general">
    <meta name="publisher" content="The Travel Square">

    <meta property="og:title" content="The Travel Square">
    <meta property="og:description" content="The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
    <meta property="og:image" content="">
  
    <meta name="twitter:card" content="The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
  
    <meta name="keywords" content="The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
    <meta name="format-detection" content="7428558566">
    
    
    <link rel="shortcut icon" href="" type="image/x-icon">

   
    
    <!-- Theme Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href="/css/css.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link href="stylesheet" href="/font/flaticon.css">
    
    <!-- Current Page Styles -->
    <link rel="stylesheet" type="text/css" href="/css/flexslider.css" media="screen">

    <link rel="stylesheet" type="text/css" href="/css/settings.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/jquery.bxslider.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/styles.css" media="screen">

    <link id="main-style" rel="stylesheet" href="/css/style-orange.css">    
    
    
    
    <!-- Updated Styles -->
    <link rel="stylesheet" href="/css/updates.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="/css/responsive.css">
    
  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.min.js"></script> -->

    
   <script>
    function clearCoor() {
        document.getElementById("demo").style.display = "none";
    }
    function myFunction(e) {
        document.getElementById("demo").style.display="block"
    }
   </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-cookies.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-cookies.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-cookies.min.js.map"></script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.4.7/angular-filter.js"></script> 
    <!-- <script type="text/javascript" src="http://code.angularjs.org/1.2.1/angular-route.js"></script>   -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script type="text/javascript" charset="UTF-8" src="/js/common.js"></script><script type="text/javascript" charset="UTF-8" src="/js/util.js"></script><script type="text/javascript" charset="UTF-8" src="/js/stats.js"></script></head>

    <body ng-controller="{% block controller%}{% endblock %}" >

    <div>
    <div id="page-wrapper">
        <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">
                        
						<li class="ribbon currency">
                            <a href="" title="">INR</a>
                            <ul class="menu mini left">
                            </ul>
                        </li>
                        <li class="ribbon">
                            <a href="">English</a>
                            <ul class="menu mini">
                            </ul>
                        </li>
						<li class="ribbon">
                            <a href="">India</a>
                            <ul class="menu mini">
                            </ul>
                        </li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li><a href="" class="button yellow btn-small" style="height: 30px; font-size: 1em;">
						<i class="soap-icon-shopping"></i> SIGN UP</a></li>
                        <li><a href="#" class="soap-popupbox">LOGIN</a></li>
						<li><a href="">Business CAPITAL</a></li>
                        <li><a href="#" class="soap-popupbox">Customer Care</a></li>

                    </ul>
                </div>
            </div>
            
            <div class="main-header">
                
               
                <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
        
                </a>


                <div class="container">
                   
                    <h1 class="logo navbar-brand">
                        <a href="index.html" title="The Travel Square">
                            <img src="" alt="The Travel Square">
                        </a>
                    </h1>
                    
                    
                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
                            <li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in">Home</a>
                            </li>
                            <li class="menu-item-has-children active">
                                <a href="/hotel">Hotels</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/flights.html">Flights</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/restaurants.html">Restaurants</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/cars.html">Cars</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/cruises.html">Cruises</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/tour.html">Tour</a>
                            </li>
                           
                        </ul>
                    </nav>
                </div>
                
                <nav id="mobile-menu-01" class="mobile-menu collapse" aria-expanded="false" style="height: 0px;">
                    <ul id="mobile-primary-menu" class="menu">
                        <li class="menu-item-has-children">
                            <a href="/business">Home</a><button class="dropdown-toggle collapsed" data-toggle="collapse" data-target="#mobile-menu-submenu-item-0"></button>
                        </li>
                        <li class="menu-item-has-children active">
                            <a href="/hotel">Hotels</a><button class="dropdown-toggle collapsed" data-toggle="collapse" data-target="#mobile-menu-submenu-item-1"></button>
                           
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/flight">Flights</a><button class="dropdown-toggle collapsed" data-toggle="collapse" data-target="#mobile-menu-submenu-item-2"></button>
                            
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/restaurant">Restaurants</a><button class="dropdown-toggle collapsed" data-toggle="collapse" data-target="#mobile-menu-submenu-item-0"></button><button class="dropdown-toggle collapsed" data-toggle="collapse" data-target="#mobile-menu-submenu-item-0"></button><button class="dropdown-toggle collapsed" data-toggle="collapse" data-target="#mobile-menu-submenu-item-0"></button>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/cab">Cars</a><button class="dropdown-toggle collapsed" data-toggle="collapse" data-target="#mobile-menu-submenu-item-3"></button>
                            
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/cruise">Cruises</a><button class="dropdown-toggle collapsed" data-toggle="collapse" data-target="#mobile-menu-submenu-item-4"></button>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/tour">Tour</a><button class="dropdown-toggle collapsed" data-toggle="collapse" data-target="#mobile-menu-submenu-item-5"></button>
                    
                        </li>
                        
                    </ul>
                    
                </nav>
            </div>
               

        </header>
        <section class="">
            
                {% block content%} {% endblock %}
            
        </section>