<!DOCTYPE html>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Page Title -->
<title>Customer Dashboard | The Travel Square | India's Largest Travel Community</title>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="The Travel Square">
<meta name="description"
    content="India's Largest & Fastest Growing Travel Community . The Travel Square is a Network of 10000+ Travel Suppliers , DMC & Hotel Chains & Travellers Inspiring the World to Travel In Style With Luxury at Affordabe Pricing . The Travel Square Allows its Customers to Build The Most Customizable and Comfortable Holiday Package They Desire , Hassle Free After Comparision , Without Interence of Any Agency or Third Party . It Also Gives Free Credits & No-Cost EMI Travel Plans for Its Customers to Book , With Good Management of Their Budgets.">
<meta name="distribution" content="global">
<meta name="country" content="india">
<meta name="copyright" content="The Travel Square">
<meta name="revisit-after" content="1 hour">
<meta name="designer" content="The Travel Square">
<meta name="language" content="english">
<meta name="robots" content="index, follow">
<meta name="rating" content="general">
<meta name="publisher" content="The Travel Square">

<meta property="og:title" content="The Travel Square">
<meta property="og:description"
    content="India's Largest & Fastest Growing Travel Community . The Travel Square is a Network of 10000+ Travel Suppliers , DMC & Hotel Chains & Travellers Inspiring the World to Travel In Style With Luxury at Affordabe Pricing . The Travel Square Allows its Customers to Build The Most Customizable and Comfortable Holiday Package They Desire , Hassle Free After Comparision , Without Interence of Any Agency or Third Party . It Also Gives Free Credits & No-Cost EMI Travel Plans for Its Customers to Book , With Good Management of Their Budgets.">

<meta property="og:image" content="http://www.thetravelsquare/the-travel-square-logo-thumbnail.png">
<meta property="og:url" content="http://www.thetravelsquare.in/">

<meta name="twitter:card"
    content="India's Largest & Fastest Growing Travel Community . The Travel Square is a Network of 10000+ Travel Suppliers , DMC & Hotel Chains & Travellers Inspiring the World to Travel In Style With Luxury at Affordabe Pricing . The Travel Square Allows its Customers to Build The Most Customizable and Comfortable Holiday Package They Desire , Hassle Free After Comparision , Without Interence of Any Agency or Third Party . It Also Gives Free Credits & No-Cost EMI Travel Plans for Its Customers to Book , With Good Management of Their Budgets.">

<meta name="keywords"
    content="travel in india ,travel packages , dubai packages , holiday packages , travel, the travel square, hotels, flights, India's Largest Travel Community">
<meta name="format-detection" content="7428558566">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<!-- Theme Styles -->
<link rel="stylesheet" href="files/bootstrap.min.css">
<link rel="stylesheet" href="files/font-awesome.min(1).css">
<link href="files/css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="files/animate.min.css">

<!-- Current Page Styles -->
<link rel="stylesheet" type="text/css" href="files/settings.css" media="screen">
<link rel="stylesheet" type="text/css" href="files/style.css" media="screen">
<link rel="stylesheet" type="text/css" href="files/jquery.bxslider.css" media="screen">
<link rel="stylesheet" type="text/css" href="files/flexslider.css" media="screen">

<!-- Main Style -->
<!--<link id="main-style" rel="stylesheet" href="css/style.css">-->
<script type="text/javascript">
    var mainStyle = "style.css";
    if (typeof localStorage != "undefined") {
        var colorSkin = localStorage.getItem("colorSkin");
        if (colorSkin != null) {
            mainStyle = "style-" + colorSkin + ".css";
        }
    }
    document.write('<link id="main-style" rel="stylesheet" href="css/' + mainStyle + '">');
</script>
<link id="main-style" rel="stylesheet" href="files/style(1).css">
<link id="main-style" rel="stylesheet" href="files/style-light-yellow.css">

<!-- Updated Styles -->
<link rel="stylesheet" href="files/updates.css">

<!-- Custom Styles -->
<link rel="stylesheet" href="files/custom.css">

<!-- Responsive Styles -->
<link rel="stylesheet" href="files/responsive.css">



<style>
        * {
          box-sizing: border-box;
        }
        
        body {
          font-family: anton;
          font-size: 17px;
        }
        
        .overlaycity {
          position: relative;
          max-width: 800px;
          margin: 0 auto;
        }
        
        .overlaycity img {vertical-align: middle;}
        
        .overlaycity .picturecity {
          position: absolute;
          bottom: 0;
          background: rgb(0, 0, 0); 
          background: rgba(0, 0, 0, 0.2); 
          color: #f1f1f1;
          width: 120%;
          padding: 70px;
          left: -25px;
        }
        </style>
        
        <style>
        * {
          box-sizing: border-box;
        }
        
        body {
          font-size: 17px;
        }
        
        .overlay {
          position: relative;
          max-width: 800px;
          margin: 0 auto;
        }
        
        .overlay img {vertical-align: middle;}
        
        .overlay .picture {
          position: absolute;
          bottom: 0;
          background: rgb(0, 0, 0); /* Fallback color */
          background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
          color: #f1f1f1;
          width: 100%;
          padding: 20px;
        }
        </style>
            
            <style>
            .responsive {
            width: 100%;
            max-height: 200%;
            height: auto;
            }
            </style>
            
            <link rel="shortcut icon" href="" type="image/x-icon">
            
            <script>
        
        $(document).ready(function() {
          // Gets the video src from the data-src on each button
        
          var $videoSrc;
          $(".video-btn").click(function() {
            $videoSrc = $(this).data("src");
          });
          console.log($videoSrc);
        
          // when the modal is opened autoplay it
          $("#myModal").on("shown.bs.modal", function(e) {
            // set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
            $("#video").attr(
              "src",
              $videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0"
            );
          });
        
          // stop playing the youtube video when I close the modal
          $("#myModal").on("hide.bs.modal", function(e) {
            // a poor man's stop video
            $("#video").attr("src", $videoSrc);
          });
        
          // document ready
        });
        
        
        </script>
            
            <style>
        body {
          margin: 2rem;
        }
        
        .modal-dialog {
          max-width: 1000px;
          margin: 30px auto;
        }
        
        .modal-body {
          position: relative;
          padding: 0px;
        }
        .close {
          position: absolute;
          right: -30px;
          top: 0;
          z-index: 999;
          font-size: 2rem;
          font-weight: normal;
          color: #fff;
          opacity: 1;
        }
        
        </style>
        




<style>
    .responsive {
        width: 100%;
        max-width: 1200px;
        height: 530;
    }
</style>

<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
    }
</style>



</head>

<body>

    <div id="page-wrapper">
        <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">

                        <li><a href="http://www.thetravelsquare.in/customer-care"><img height="20" width="20"
                                    src="images/dashboard/24-7-customer-support-the-travel-square-icon.png">&nbsp;&nbsp;<b>Customer
                                    Support</b></a></li>
                        <li><a href="http://www.thetravelsquare.in/enquiry"><img height="20" width="17"
                                    src="images/dashboard/travel-expert-the-travel-square-icon.png">&nbsp;&nbsp;<b>Travel
                                    Expert</b></a></li>

                        <li><a href="http://www.thetravelsquare.in/holidays">
                                <font color="black"><a class="button white btn-small uppercase"
                                        style="height: 30px; font-size: 1em; color:black">
                                        <img height="25" width="25"
                                            src="images/holiday_ballon.png">&nbsp;&nbsp;<b>Customize Holiday</b></a>
                                </font>
                            </a></li>
                        <li><a href="http://partner.thetravelsquare.in/offers-and-deals"><img height="18" width="20"
                                    src="images/dashboard/offer-and-deal-the-travel-square-icon.png">&nbsp;&nbsp;<b>Best
                                    Offers & Deals</b></a></li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li><a href="http://www.thetravelsquare.in/customer-care"><img height="17" width="12"
                                    src="images/dashboard/toll-free-the-travel-square-icon.png">&nbsp;
                                <b>+91-7428558566</b></a></li>
                        <li class="ribbon">
                            <a href="http://www.thetravelsquare.in/login.php">
                                <font color="black"><a class="button white btn-small uppercase"
                                        style="height: 30px; font-size: 1em; color:black"><img
                                            src="images/login-icon.png" height="18" width="18">&nbsp; &nbsp; Login /
                                        Sign Up</a></font>
                            </a>

                            <ul class="menu mini uppercase">
                                <li><a href="http://www.thetravelsquare.in/dashboard">Dashboard</a></li>
                                <li><a href="http://www.thetravelsquare.in/logout.php">Log Out</a></li>
                            </ul>
                        </li>
                        <li><a href="http://business.thetravelsquare.in/booking-cart"><img height="27" width="30"
                                    src="http://thetravelsquare.in/images/cart-image.png"></a></li>

                    </ul>
                </div>
            </div>

            <div class="main-header">

                <a href="http://partner.thetravelsquare.in/#mobile-menu-01" data-toggle="collapse"
                    class="mobile-menu-toggle">
                    Mobile Menu Toggle
                </a>

                <div class="container">
                    <h1 class="navbar-brand" style="height:20%">
                        <a href="http://partner.thetravelsquare.in/dashboard" title="The Travel Square">
                            <img src="http://www.thetravelsquare.in/images/the-travel-square-india-logo.png"
                                alt="The Travel Square">
                        </a>
                    </h1><br>

                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
                            <li><a href="http://business.thetravelsquare.in/flight"><img height="47" width="48"
                                        src="images/flights-icon.png"></a></li>
                            <li><a href="http://business.thetravelsquare.in/hotel"><img height="47" width="48"
                                        src="images/hotels-icon.png"></a></li>
                            <li><a href="http://business.thetravelsquare.in/holidays"><img height="47" width="48"
                                        src="images/holidays-icon.png"></a></li>
                            <li><a href="http://business.thetravelsquare.in/cabs"><img height="47" width="48"
                                        src="images/cabs-icon.png"></a></li>
                            <li><a href="http://business.thetravelsqaure.in/experiencez"><img height="47" width="48"
                                        src="images/experiences-icon.png"></a> </li>
                            <li><a href="http://business.thetravelsquare.info/visa.html"><img height="47" width="48"
                                        src="images/visa-icon.png"></a></li>
                            <li><a href="http://business.thetravelsquare.in/bus"><img height="47" width="48"
                                        src="images/buses-icon.png"></a></li>

                        </ul>
                    </nav>
                </div>

                <nav id="mobile-menu-01" class="mobile-menu collapse">

                    <br>
                    <center>
                        <button class="button white uppercase animated" data-animation-type="tada" data-toggle="modal"
                            data-target="#customerlogin">
                            <b><big><img src="images/login-icon.png" height="18" width="18">&nbsp; &nbsp; <font
                                        color="black">Login / Sign Up </font></big></b></button>

                        <button class="button white uppercase animated" data-animation-type="tada" data-toggle="modal"
                            data-target="#customerlogin">
                            <b><big><img src="images/dashboard-icon.png" height="18" width="18">&nbsp; &nbsp; <font
                                        color="black">Dashboard </font></big></b></button>
                    </center>

                    <ul id="mobile-primary-menu" class="menu">

                        <li><a href="http://business.thetravelsquare.in/coming-soon">Flight</a> </li>
                        <li><a href="http://business.thetravelsquare.in/hotel">Hotel</a> </li>
                        <li><a href="http://business.thetravelsquare.in/holiday">Holiday</a> </li>
                        <li><a href="http://business.thetravelsquare.in/coming-soon">Cabs & Transfer</a> </li>
                        <li><a href="http://business.thetravelsquare.in/coming-soon">Experiences & Activities</a> </li>
                        <li><a href="http://business.thetravelsquare.in/coming-soon">Events & Shows</a> </li>
                        <li><a href="http://business.thetravelsquare.in/coming-soon">Visa</a> </li>
                        <li><a href="http://business.thetravelsquare.in/coming-soon">Bus</a> </li>
                        <li><a href="http://business.thetravelsquare.in/coming-soon">Forex</a> </li>
                    </ul>
                    <br>
                    <ul class="mobile-topnav container">

                        <button class="button full-width white uppercase animated" data-animation-type="tada"
                            data-toggle="modal" data-target="#customerlogin">
                            <b><big><img height="35" width="35" src="images/travel-cart.png">&nbsp; &nbsp; <font
                                        color="black">Travel Cart</font></big></b></button>
                        <br>

                    </ul>
                </nav>
            </div>
        </header>
    </div>
        <section class="">
            
                {% block content%} {% endblock %}
            
        </section>